extends login
block lg-title
    找回密码
block login-content
    div.
        <div class="m-bock-pass wrap" id="m-bock-pass">
            <div class="m-pro start yes dib">
                <div class="pro-sta pro-sta1">1</div>
                <span class="m-pro-con">填写手机号</span>
            </div>
            <div class="dib pro-line yes"></div>
            <div class="m-pro dib yes">
                <div class="pro-sta pro-sta2">2</div>
                <span class="m-pro-con">验证身份</span>
            </div>
            <div class="dib pro-line yes"></div>
            <div class="m-pro dib yes">
                <div class="pro-sta pro-sta3">3</div>
                <span class="m-pro-con">重置密码</span>
            </div>
            <div class="dib pro-line yes"></div>
            <div class="m-pro dib yes">
                <div class="pro-sta pro-sta4">4</div>
                <span class="m-pro-con">成功</span>
            </div>
        </div>
        <div class="m-we-back-pass">
            恭喜您，密码重置成功！
        </div>       
