block SubPage
    -var subTitle ='供应商首页'
extends dashboard.jade
block header
    link(rel='stylesheet', href='css/home.css')
    link(rel='stylesheet', href='css/info.css')

block DashboardTitle
    面板

block Right
    .home
        //
            ul.list-group
                li.list-group-item.basicInfo.info
                    img(src='img/icon-auth.png').auth-img
                    span.auth-stat 资质认证未提交
                    a(href='javascript:;') 提交认证资料
                    a.question.question-blue.auth-tip
                        .tip
                            .tip-acute
                            .tip-content 您需要先通过供应商资质认证后才能上架商品。
                    span#bindWeixin
                        span.blue 绑定微信
                        .tip-rectangle.tdc
                            span.gray 请使用微信扫描下方二维码完成绑定
                            div
                                img(src='img/logo.png')
                    a.question.question-blue
                        .tip
                            .tip-acute
                            .tip-content 您需要先通过供应商资质认证后才能上架商品。
        //
            ul.list-group
                li.list-group-item
                    | 15个订单等待发货
                    a(href='javascript:;').view 查看
                li.list-group-item
                    | 2个退货订单等待确认
                    a(href='javascript:;').view 查看
            .row
                .col-md-6
                    ul.list-group
                        li.list-group-item 98个品牌
                        li.list-group-item
                            | 23个品牌等待提交审核
                            a(href='javascript:;').view 查看
                        li.list-group-item
                            | 75个品牌已上线
                            a(href='javascript:;').view 查看
                .col-md-6
                    ul.list-group
                        li.list-group-item 0个商品
                        li.list-group-item.noProduct
                        a.addBrand 添加品牌
        .row
           .col-md-12
              .alert.alert-success(role="alert")
                  strong.red 提示：
                  span.black 您正在使用分销商账号访问供应商平台，想成为供应商？ 立即去
                      a(href="info/basicinfo.html") 完善资料
        .row.homeMessage
            .col-md-4
                .panel.panel-default
                    .panel-body
                        .user-message-left
                            .m-img
                                img(src="#",alt="头像")
                                <!-- <img src="" alt=""> -->
                        .user-message-right
                            ul
                                li 你好!
                                    b quwan
                                li 账号状态：
                                    b
                                        span.auth-stat
                                            a(href='javascript:;') 已审核
                                            img(onclick="$.alert()",src="/img/error_desc.png")
                                //
                                    li
                                        a#bindWeixin(href='javascript:;') 微信绑定
            .col-md-4
                .panel.panel-default
                    .panel-body.moneyMessage
                        table
                            tr
                                td.td-money
                                    span.money(m="00") 4000
                                td.td-state
                                    可用
                                //
                                    td(rowspan="3")
                                        button.btn.btn-blue 充值
                            tr
                                td.td-money
                                    span.money(m="00") 4000
                                td.td-state
                                    不可用
                            tr
                                td.td-action(colspan="2")
                                    a(href='javascript:;') 提现 |
                                    a(href='javascript:;') 交易明细
            .col-md-4
                .panel.panel-default
                    .panel-body.actionmessage
                        table
                            tr
                                td.tdw2 20
                                td.tdw3 待处理订单
                                td.tdw2 20
                                td.tdw3 品牌待审核
                            tr
                                td.tdw2 20
                                td.tdw3 退款订单
                                td.tdw2 20
                                td.tdw3 出售中商品
                            tr
                                td.tdw2 20
                                td.tdw3 分销商
                                td.tdw2 20
                                td.tdw3 已下架
        .panel.panel-default
            .panel-heading 统计报表
            .panel-body
                .row
                    .col-md-6
                        p.itemTitle.gray 销售额
                        .plot
                            canvas(width='400', height='200')#sale
                    .col-md-6
                        p.itemTitle.gray 分销商数量
                        .plot
                            canvas(width='400', height='200')#retailerNum

block foot
    //
        script(type='text/javascript',src='#{basePath}plugs/Chart.min.js')
    script(type='text/javascript',data-main="js/home",src='#{basePath}js/require.min.js')
    <!-- script(type='text/javascript',src='#{basePath}js/home.js') -->
    //
        script(type='text/javascript').
            $(function(){
                var options1 = {
                    responsive: true,
                    tooltipTemplate: "<%if (label){%><%=label%> : ￥ <%}%><%= value %>",
                };
                var options2 = {
                    responsive: true,
                    tooltipTemplate: "<%if (label){%><%=label%> : <%}%><%= value %> 个分销商",
                };
                var ctxSale = document.getElementById('sale').getContext('2d');
                var saleData = {
                    labels: ["January", "February", "March", "April", "May", "June", "July"],
                    datasets: [
                        {
                            label: "My First dataset",
                            fillColor: "rgba(220,220,220,0.2)",
                            strokeColor: "rgba(220,220,220,1)",
                            pointColor: "rgba(220,220,220,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: [65, 59, 80, 81, 56, 55, 40]
                        }
                    ]
                };
                new Chart(ctxSale).Line(saleData, options1);

                var ctxRetailer =  document.getElementById('retailerNum').getContext('2d');
                var retailerData = {
                    labels: ["January", "February", "March", "April", "May", "June", "July"],
                    datasets: [
                        {
                            label: "My Second dataset",
                            fillColor: "rgba(151,187,205,0.2)",
                            strokeColor: "rgba(151,187,205,1)",
                            pointColor: "rgba(151,187,205,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(151,187,205,1)",
                            data: [28, 48, 40, 19, 86, 27, 90]
                        }
                    ]
                };
                new Chart(ctxRetailer).Line(retailerData, options2);

                $('#bindWeixin').click(function(){
                    var jqTarget = $(this);
                    if(!jqTarget.hasClass('active')){
                        jqTarget.addClass('active');
                        setTimeout(function(){
                            $(document.body).one('click', function(){
                                jqTarget.removeClass('active');
                            });
                        }, 0);
                    }
                });
            })
