extends dashboard.jade 
block header
    link(rel='stylesheet', href='css/home.css')

block DashboardTitle 
    面板

block Right
    .group
        h2 订单
    .groupBody
        .row
            .col-md-4
                a.item
                    | 待发货订单
                    span.red 12
                    | 个
            .col-md-4
                a.item
                    | 待发货订单
                    span.red 13
                    | 个
            .col-md-4
                a.item
                    | 待退货订单
                    span.red 14
                    | 个
    .group
        h2 商品
    .groupBody
        .row
            .col-md-4
                a.item
                    | 已上架商品
                    span.red 12
                    | 个
            .col-md-4
                a.item
                    | 待上架商品
                    span.red 13
                    | 个
    .group
        h2 品牌
    .groupBody
        .row
            .col-md-4
                a.item
                    | 已通过审核
                    span.red 12
                    | 个
            .col-md-4
                a.item
                    | 未通过审核
                    span.red 13
                    | 个
    .group
        h2 概况
    div
        p.itemTitle.gray 每日销售
        .plot
            canvas(width='500', height='300')#sale
        p.itemTitle.gray 分销商数量
        .plot
            canvas(width='500', height='300')#retailerNum

block foot
    script(type='text/javascript',src='#{basePath}plugs/Chart.min.js')
    script(type='text/javascript').
        $(function(){
            var ctxSale = document.getElementById('sale').getContext('2d');
            var saleData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    }
                ]
            };
            new Chart(ctxSale).Line(saleData, {});

            var ctxRetailer =  document.getElementById('retailerNum').getContext('2d');
            var retailerData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            };
            new Chart(ctxRetailer).Line(retailerData, {});
        })

