<!doctype html>
html
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width')
        block title
            title 万物        
        link(rel='stylesheet',href='plugs/bootstrap/css/bootstrap.min.css')      
        block header
    body
        block content
        script(type='text/javascript',src='plugs/jquery/jquery.min.js')
