block Define
    -var basePath = '';
    -var subTitle ='';
<!doctype html>
html
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width')
        meta(http-equiv="Cache-Control" content="max-age=7200")
        meta(name="description" content="万物（wanwu.com）是全网货源一键分销的移动供销平台，完全免费，海量货源集散地，无货也可开店赚钱，对接淘宝，微店，京东，拍拍，有赞等多家电商平台，让分销商拥有海量货源一键分销，无货开店赚钱，让供应商可以一键铺货库存同步，获得海量订单。")
        meta(name="keywords" content="分销,微商,微店,微信,ERP,朋友圈,微购物,淘宝一键搬家,拍拍,有赞,卖家,开店,店铺,易订货,一键分销,旺铺")
        meta(name="apple-itunes-app",content="app-id=995874219")
        block title
            title 万物 - 全网货源一键分销，淘宝微店多店铺商品轻松管理，订单价格库存实时同步
            if subTitle
            | subTitle
        link(rel='stylesheet',href='plugs/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='#{basePath}css/foot.css') 
        block header
    body
        block content
        script(type='text/javascript',src='plugs/jquery/jquery.min.js')
        block foot
    include foot.jade