block Define
    -var basePath = '';
<!doctype html>
html
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width')
        block title
            title 万物        
        link(rel='stylesheet',href='plugs/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='#{basePath}css/foot.css')    
        block header
    body
        block content
        script(type='text/javascript',src='plugs/jquery/jquery.min.js')
        block foot
    include foot.jade