<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>首页</title>
    <link rel="stylesheet" href="../plugs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../plugs/datetimepicker/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../js/metisMenu/metisMenu.min.css"/>
    <link rel="stylesheet" href="../css/foot.css"/>
    <link rel="stylesheet" href="../css/sb-admin-2.css"/>
    <link rel="stylesheet" href="../css/manage/home.css"/>
  </head>
  <body>
    <div id="wrapper">
      <nav role="navigation" style="margin-bottom: 0" class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand"></a>
          <h3 class="navbar-line">            首页</h3>
        </div>
        <div role="navigation" class="navbar-default sidebar">
          <div class="sidebar-nav navbar-collapse">
            <ul id="side-menu" class="nav in">
              <li class="loginInfo">
                <div class="row">
                  <div class="col-md-6">[登录用户]</div>
                  <div class="col-md-6"><a href="javascript:;" class="logout">[ 退出 ]</a></div>
                </div>
              </li>
              <li ui-sref-active="active"><a href="../manage/home.html">首页</a></li>
              <li ui-sref-active="active"><a href="../manage/supplier/index.html">供应商管理</a></li>
              <li ui-sref-active="active"><a href="../manage/distributor/index.html">分销商管理</a></li>
              <li ui-sref-active="active"><a href="../manage/Brand/index.html">品牌管理</a></li>
              <li ui-sref-active="active"><a href="../manage/product/index.html">商品管理</a></li>
              <li ui-sref-active="active"><a href="../manage/album/index.html">专辑管理</a></li>
              <li ui-sref-active="active"><a href="../manage/complaint/index.html">投诉管理</a></li>
              <li ui-sref-active="active"><a href="../manage/report/index.html">举报管理</a></li>
              <li ui-sref-active="active"><a href="../manage/account/index.html">账号设置</a></li>
            </ul>
          </div>
        </div>
        <div class="nav-address">首页 > 商品管理 > 商品详情        </div>
      </nav>
      <div id="page-wrapper">
        <div class="manageHome">
          <div class="list-group"><a href="javascript:;" class="list-group-item"><span class="red">12</span>个等待审核供应商</a><a href="javascript:;" class="list-group-item"><span class="red">10</span>个等待审核品牌</a><a href="javascript:;" class="list-group-item"><span class="red">12</span>个等待处理投诉 </a><a href="javascript:;" class="list-group-item"><span class="red">10</span>个等待处理举报</a></div>
          <div class="m-chart-market">
            <div class="chart-header">
              <h4>销售数据</h4>
            </div>
            <div class="m-datamark">
              <div class="form-inline">
                <div class="form-group">
                  <label class="blue-line">
                    <select id="marketData1" name="marketData1" class="form-control select">
                      <option value="0">成交额（按发货时间）</option>
                      <option value="1">分销成交额（按发货时间）</option>
                      <option value="2">进货成交额（按发货时间）</option>
                      <option value="3">退货额（按发货时间）</option>
                    </select>
                  </label>
                  <label class="green-line">
                    <select id="marketData2" name="marketData2" class="form-control select">
                      <option value="0">成交额（按发货时间）</option>
                      <option value="1">分销成交额（按发货时间）</option>
                      <option value="2">进货成交额（按发货时间）</option>
                      <option value="3">退货额（按发货时间）</option>
                      <option value="4">（无）</option>
                    </select>
                  </label>
                  <label class="time">
                    <input type="text" id="timeBegin" class="text-input time-input"/><span class="stage2">~</span>
                    <input type="text" id="timeEnd" class="text-input time-input"/>
                  </label>
                  <button type="button" class="btn btn-blue btn-search">查询</button>
                </div>
              </div>
              <div class="m-chartCon plot">
                <canvas width="800" height="300" id="chart-marketData"></canvas>
              </div>
            </div>
          </div>
          <div class="m-chart-branch">
            <div class="chart-header">
              <h4>分销商数据</h4>
            </div>
            <div class="m-datamark">
              <div class="form-inline">
                <div class="form-group">
                  <label class="blue-line">分销商数量</label>
                  <label class="green-line">店铺数量</label>
                  <label class="time">
                    <input type="text" id="timeBegin" class="text-input time-input"/><span class="stage2">~</span>
                    <input type="text" id="timeEnd" class="text-input time-input"/>
                  </label>
                  <button type="button" class="btn btn-blue btn-search">查询</button>
                </div>
              </div>
              <div class="m-chartCon plot">
                <canvas width="800" height="300" id="chart-branchData"></canvas>
              </div>
            </div>
          </div>
          <div class="m-chart-supplier">
            <div class="chart-header">
              <h4>供应商数据</h4>
            </div>
            <div class="m-datamark">
              <div class="form-inline">
                <div class="form-group">
                  <label class="blue-line">
                    <select id="supplierData1" name="supplierData1" class="form-control select">
                      <option value="0">供销商数量</option>
                      <option value="1">品牌数量</option>
                      <option value="2">商品数量</option>
                    </select>
                  </label>
                  <label class="green-line">
                    <select id="supplierData2" name="supplierData2" class="form-control select">
                      <option value="0">供销商数量</option>
                      <option value="1">品牌数量</option>
                      <option value="2">商品数量</option>
                      <option value="4">（无）</option>
                    </select>
                  </label>
                  <label class="time">
                    <input type="text" id="timeBegin" class="text-input time-input"/><span class="stage2">~</span>
                    <input type="text" id="timeEnd" class="text-input time-input"/>
                  </label>
                  <button type="button" class="btn btn-blue btn-search">查询</button>
                </div>
              </div>
              <div class="m-chartCon plot">
                <canvas width="800" height="300" id="chart-supplierData"></canvas>
              </div>
            </div>
          </div>
          <div class="m-Pie-supplier">
            <div class="chart-header">
              <h4>供应商数据</h4>
            </div>
            <div class="m-datamark">
              <div class="m-chartCon plot">
                <canvas width="300" height="300" id="pie-supplierData"></canvas>
                <div class="supplierData">
                  <table>
                    <th>商品分类</th>
                    <th>商品数量</th>
                    <tbody id="pieDataShow"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
    <p><a href="javascript:void(0);">服务协议</a>| <a href="javascript:void(0);">联系我们</a></p>
    <p class="comp">Copyright &copy; 2015 万物wanwu.com版权所有</p>
    </div>
    <script type="text/javascript" src="../plugs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../plugs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../plugs/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="../plugs/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="../js/metisMenu/metisMenu.min.js"></script>
    <script type="text/javascript" src="../js/sb-admin-2.js"></script>
    <script type="text/javascript" src="../js/dialog.js"></script>
    <script type="text/javascript" src="../plugs/Chart.min.js"></script>
    <script type="text/javascript">
      $(function(){
          $('.time-input').datetimepicker({
              format: 'yyyy-mm-dd',
              language: 'zh-CN',
              minView: 2,
              autoclose: true
          });
      
          //图表部分
          var marketOption = {responsive: true,pointDot:false,multiTooltipTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%>: ￥<%}%><%= datasets[i].value %></li><%}%></ul>",tooltipTemplate: "<%if (label){%><%=label%>: ￥<%}%><%= value %>"}
          var branchOption1 = {responsive: true,pointDot:false,tooltipTemplate: "<%if (label){%><%=label%> : <%}%><%= value %> 店铺",}
          var branchOption2 = {responsive: true,pointDot:false,tooltipTemplate: "<%if (label){%><%=label%> : <%}%><%= value %> 分销商",}
          var supplierOption = {responsive: true,pointDot:false,tooltipTemplate: "<%if (label){%><%=label%> : ￥ <%}%><%= value %>",}
          var marketLine = document.getElementById('chart-marketData').getContext('2d');
          var branchLine = document.getElementById('chart-branchData').getContext('2d');
          var supplierLine = document.getElementById('chart-supplierData').getContext('2d');
          var supplierPie  = document.getElementById('pie-supplierData').getContext('2d');
          var marketData = {
              labels: ["January", "February", "March", "April", "May", "June", "July"],
              datasets:[{
                      fillColor: "transparent",
                      strokeColor: "#069dd5",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(220,220,220,1)",
                      data: [65, 59, 80, 81, 56, 55, 40]
                  },{
                      fillColor: "transparent",
                      strokeColor: "#4cbd4e",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(151,187,205,1)",
                      data: [28, 48, 40, 19, 86, 27, 90]
                  }]
              }
          var branchData = {
              labels: ["January", "February", "March", "April", "May", "June", "July"],
              datasets:[{
                      fillColor: "transparent",
                      strokeColor: "#069dd5",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(220,220,220,1)",
                      data: [65, 59, 80, 81, 56, 55, 40]
                  },{
                      fillColor: "transparent",
                      strokeColor: "#4cbd4e",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(151,187,205,1)",
                      data: [28, 48, 40, 19, 86, 27, 90]
                  }]
              }
          var supplierData = {
              labels: ["January", "February", "March", "April", "May", "June", "July"],
              datasets:[{
                      fillColor: "transparent",
                      strokeColor: "#069dd5",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(220,220,220,1)",
                      data: [65, 59, 80, 81, 56, 55, 40]
                  },{
                      fillColor: "transparent",
                      strokeColor: "#4cbd4e",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(151,187,205,1)",
                      data: [28, 48, 40, 19, 86, 27, 90]
                  }]
              }
      
          //画线
          window.xxx = new Chart(marketLine).Line(marketData, marketOption);
          new Chart(branchLine).Line(branchData, branchOption1);
          new Chart(supplierLine).Line(supplierData, supplierOption);
          var pieSet ={tooltipTemplate: "<%if (label){%><%=label%> :  <%}%><%= value %>"}
          var pieData =[{
                  label:"女人",
                  value:300,
                  color:"#5b8dff"
              },{
                  label:"男人",
                  value : 50,
                  color : "#a55dff"
              },{
                  label:"配饰",
                  value : 140,
                  color : "#5bd6ff"
              },{
                  label:"数码",
                  value : 95,
                  color : "#ff5dcc"
              },{
                  label:"美妆",
                  value : 67,
                  color : "#90ffcc"
              },{
                  label:"家居",
                  value : 56,
                  color : "#69D2E7"
              },{
                  label:"亲子",
                  value : 23,
                  color : "#667d73"
              },{
                  label:"运动",
                  value : 23,
                  color : "#105535"
              },{
                  label:"食品",
                  value : 45,
                  color : "#baa519"
              },{
                  label:"办公",
                  value : 56,
                  color : "#ece093"
              },{
                  label:"汽车",
                  value : 156,
                  color : "#1220d4"
              }]
          new Chart(supplierPie).Pie(pieData,pieSet)
          //生成数据列表 pieDataShow
          var pieDataHtml = '';
          var dataLength = pieData.length;
          for(var i = 0 ; i < dataLength;i++){
              pieDataHtml += '<tr><td><label><em class="sortColor" style="background-color: '+ pieData[i].color +';"></em><span class="sortName">'+pieData[i].label+'</span></label></td><td>'+pieData[i].value+'</td></tr>'
          }
          $('#pieDataShow').html(pieDataHtml);
      });
    </script>
  </body>
</html>