extends ../dashboard.jade
block Define
    - var basePath = '../';

block header

    link(rel='stylesheet', href='../css/product.css')     

block DashboardTitle
    商品详情

block Right
    .product-batch
        h4.batchTitle 批量商品导入
        ul.nav.nav-tabs.bathTab#bathTab
            li.active
                a(href="#upfile") 文件上传
            li
                a(href="#uphistory") 上传历史
        div.tab-content
            div.tab-pane.active#upfile
                div.upTip
                    p 目前只支持淘宝、天猫、京东店铺商品的导入,淘宝和天猫的商品可以通过淘宝助理导出，京东店铺使用商家助手导出。
                    p 自动创建产品，商家编码为空时，系统自动创建，格式：WW+流水号。例如：商品：WW28071192043687，商品Sku：WW28071192043687_颜色_尺码
                div.m-upButon
                    a.btn.btn-up(role="button",src="javascript:;")
                        span.glyphicon.glyphicon-plus
                        |京东商品Excel
                    a.btn.btn-up(role="button",src="javascript:;")
                        span.glyphicon.glyphicon-plus
                        |京东商品Excel
                    a.btn.btn-up(role="button",src="javascript:;")
                        span.glyphicon.glyphicon-plus
                        |京东商品Excel
            div.tab-pane#uphistory
block foot
    script.
        $(function(){
            $('#bathTab a').click(function(e){
                e.preventDefault();
                $(this).tab('show');
            });
        })