extends ../dashboard.jade
block Define
    - var basePath = '../';

block header
    link(rel='stylesheet', href='../css/product.css')
    link(rel='stylesheet', href='../css/catalog-selector.css')

block DashboardTitle
    类目选择

block Right
    .product.product-catalog
        form.form-inline
            .form-group
                input(type='text', placeholder="输入产品关键字，我们为您推荐类目")#input-groom.form-control
            .form-group
                button(type='button').btn.btn-blue.btn-search#btn-search 查询
        .searchTip.alert.alert-warning#searchTip
            p#search
                span 类目提示
                ul#searchChoice.searchChoice
            a.CloseTip.glyphicon.glyphicon-remove#CloseTip
        #selector
            #selector-container
            .status-bar.alert.alert-warning
                p
                    span 您当前选择的类目：
                    span#choice
                
                //
                    p
                        sapn 类目说明：
                        span#catalog-explain
        .foot-bar
            button(type='button').btn.btn-blue#btn-doNext
                | 下一步，填写商品详情
                span.glyphicon.glyphicon-arrow-right



block foot
    script(type='text/javascript', src='../js/catalog-selector.js')
    script(type='text/javascript').
        $(function(){
            function ajax(url, data){
                return $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: $.extend({ m: Math.random() }, data)
                });
            }
            var selectorColCount = Math.floor($('.product-catalog').width() / CatalogSelector.defaultOption.colsWidth);
            var keyword = '',
                selector = window.cc = new CatalogSelector({
                    pop: false,
                    view: '#choice',
                    container: $('#selector-container'),
                    title: '选择商品类目',
                    viewTitle: '',
                    cols: selectorColCount,
                    colsHeight: 400,
                    provider: function(parentObj,callback){
                        ajax('http://123.59.58.104/supplier/product/add/ajax_get_category_list',{
                            category_id: parentObj ? parentObj.catId : 0,
                            m: Math.random()
                        }).done(function(result){
                            callback(result);
                        }).error(function(msg){
                            //debugger;
                            alert('初始化错误，请联系管理员');
                        })
                    },
                    adapter: function(data){
                        return {
                            hasChild: true,
                            text: data.catName
                        };
                    }
                });
            $('#selector').width(selectorColCount * CatalogSelector.defaultOption.colsWidth + 22);
            $('#searchTip').width(selectorColCount * CatalogSelector.defaultOption.colsWidth);

            $('#btn-search').click(function(){
                keyword = $.trim($('#input-groom').val());
                //selector.reset();
                //搜索所有符合的类目
                searchCata(keyword)
            });
            /* 暂时不使用。
            $('#input-groom').keyup(function(e){
                if((e.keyCode || e.charCode) == 13){
                    $('#btn-search').click();
                    return false;
                }
            });
            */

            $('form').bind('submit',function(){
                return false;
            });

            $('#btn-doNext').click(function(){
                if($($('.selectorBar .active:last')).parent().is('.selector-col:last')){
                    console.log(selector.getValue());
                }else{
                    alert('请正确选择叶子类目');
                    return;
                }

            });

            function searchCata(name,callback){
                //url supplier
                $.ajax({
                    method: "POST",
                    dataType:'json',
                    url:"http://123.59.58.104/supplier/product/add/search_category_by_name",
                    data:{cat_name:name}
                }).success(function(data){
                    var dataLength = data.length;
                    for(var i = 0;i < dataLength;i++){
                        var cataD = fid(data[i],[]);
                        var level = cataD.length;
                        var dataHtml = ""
                        for(var j = level ; j>1 ;j--){
                            dataHtml +=cataD[j-1].text+'<i> >> </i>';
                        }
                        dataHtml += cataD[0].text
                        dataHtml = '<li class="seachData" data="'+i+'">'+dataHtml+'</li>';
                        $("#searchChoice").append(dataHtml);
                        $('#searchTip').slideDown();
                    }
                    $('#searchChoice').on('click','.seachData',function(){
                        var dID = $(this).attr('data');
                        window.cc.setData(data[dID]);
                        //var clickData = fid(data[dID],[]);
                        //;

                    })
                }).error(function(data){
                    //debugger
                    alert('网络错误或者错误的请求，请联系管理员');
                })
            };
            function fid(data,cataData){
                if(data && data.level>0){
                    var isch = data.parentCat ? true:false;
                    var tm =[{text:data.catName,hasChild:isch,parentId:data.parentId}]
                    cataData = $.merge(cataData,tm)
                    return fid(data.parentCat,cataData)
                }else{
                    return cataData;
                }
            }
            function fidcataData(data){
                if(data){
                    ajax('http://123.59.58.104/supplier/product/add/ajax_get_category_list',{
                        category_id: data.parentId ? data.parentId : 0,
                        m: Math.random()
                    }).done(function(result){
                        window.cc.addColumn(result);
                        fidcataData(data.parentCat)
                    })
                }else{return false;}
                /*
                window.cc.option.provider:function(parentObj,callback){
                    ajax('http://123.59.58.104/supplier/product/add/ajax_get_category_list',{
                        category_id: parentObj ? parentObj.catId : 0,
                        m: Math.random()
                    }).done(function(result){
                        callback(result);
                    }).error(function(msg){
                        //debugger;
                        alert('初始化错误，请联系管理员');
                    })
                }
                */
            }
            //删除提示
            $('#CloseTip').bind('click',function(e){
                $('#searchTip').slideUp();
            })
        });
