extends ../dashboard.jade
block Define
    - var basePath = '../';

block header
    link(rel='stylesheet', href='../css/product.css')
    link(rel='stylesheet', href='../css/catalog-selector.css')

block DashboardTitle
    类目选择

block Right
    .product.product-catalog
        form.form-inline
            .form-group
                input(type='text', placeholder="输入产品关键字，我们为您推荐类目")#input-groom.form-control
            .form-group
                button(type='button').btn.btn-blue.btn-search#btn-search 查询
        .searchTip.alert.alert-warning#searchTip
            p#search
                span 类目提示
                ul#searchChoice.searchChoice
            p#noSearch.noSearch 没有查到相关类目，请使用类目选择器进行选择。
            a.CloseTip.glyphicon.glyphicon-remove#CloseTip
        #selector
            #selector-container
            .status-bar.alert.alert-warning
                p
                    span 您当前选择的类目：
                    span#choice

                //
                    p
                        sapn 类目说明：
                        span#catalog-explain
        .foot-bar
            button(type='button').btn.btn-blue#btn-doNext
                | 下一步，填写商品详情
                span.glyphicon.glyphicon-arrow-right



block foot
    script(type='text/javascript',data-main="#{basePath}js/product/catalogChoice",src='#{basePath}js/require.min.js')
