extends ../dashboard.jade
block Define
    - var basePath = '../';

block header
    link(rel='stylesheet', href='../css/product.css')   

block DashboardTitle
    商品管理

block Right    
    .product.
        <form action="#" class="form-inline">
            <div class="form-group">
                <label for="productName">商品名称：</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="state">上架状态：</label>
                <div class="dropdown inline">
                    <select name="" id="state" class="form-control">
                        <option value="0">全部</option>
                        <option value="1">已上架</option>
                        <option value="2">已下架</option>
                    </select>
                </div>
            </div>
        </form>
        <button class="btn btn-blue">查询</button>
        <button class="btn btn-bigblue" id='addBrand'>添加商品</button>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>商品图片</td>
                        <td class="detailed">详细信息</td>
                        <td>分销价</td>
                        <td>库存</td>
                        <td class="product-state-td">上架</td>
                        <td class="prodcut-operator-td">操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pro in productList">
                        <td class="product-td-img">
                            <img class="product-img" src="../img/logo.png" alt="">
                        </td>
                        <td>
                            <p class="product-desc">美国进口53 Paper pencil 蓝牙触控笔ipad电容笔 高精度电容笔 绘画</p>
                            <div class="product-catalog">
                                <a href="retailer.html" class="pull-right">在售分销商</a>
                                <a href="javascirpt:;" class="gray">箱包皮具</a>
                                <span class="gray">&gt;</span>
                                <a href="javascirpt:;" class="gray">热销女包</a>
                            </div>
                        </td>
                        <td class="center">
                            <div class="mprice"><input type="text" value="138.00" class="form-control input-price"></div>
                        </td>
                        <td class="center">
                            <input type="text" value="50" class="form-control input-stack">
                        </td>
                        <td class="center">
                            <a href="" class="green">已上架</a>
                        </td>
                        <td>
                            <div class="row product-operator">
                                <div class="col-lg-6">
                                    <a href="detail.html" class="edit"></a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="javascript:;" class="delete"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="pro in productList">
                        <td class="product-td-img">
                            <img class="product-img" src="../img/logo.png" alt="">
                        </td>
                        <td>
                            <p class="product-desc">美国进口53 Paper pencil 蓝牙触控笔ipad电容笔 高精度电容笔 绘画</p>
                            <div class="product-catalog">
                                <a href="retailer.html" class="pull-right">在售分销商</a>
                                <a href="javascirpt:;" class="gray">箱包皮具</a>
                                <span class="gray">&gt;</span>
                                <a href="javascirpt:;" class="gray">热销女包</a>
                            </div>
                        </td>
                        <td class="center">
                            <div class="mprice"><input type="text" value="138.00" class="form-control input-price"></div>
                        </td>
                        <td class="center">
                            <input type="text" value="50" class="form-control input-stack">
                        </td>
                        <td class="center">
                            <a href="" class="red">未上架</a>
                        </td>
                        <td>
                            <div class="row product-operator">
                                <div class="col-lg-6">
                                    <a href="detail.html" class="edit"></a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="javascript:;" class="delete"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav>
            <ul class="pagination">
                <li><a href="javascript:;" aria-label="Previous">&laquo;</a></li>
                <li><a href="javascript:;">1</a></li>
                <li><a href="javascript:;">2</a></li>
                <li><a href="javascript:;">3</a></li>
                <li><a href="javascript:;">4</a></li>
                <li><a href="javascript:;">6</a></li>
                <li><a class="more" href="javascript:;">...</a></li>
                <li><a href="javascript:;" aria-label="Next"><span aria-hidden="true">&gt;</span></a></li>
                <li class="pagin-extend">共
                    <i class="totalPage">7</i>页，到第<input type="text" class="text-input">页
                    <button class="btn btn-blue">确定</button>
                </li>
                
            </ul>
        </nav>
block foot
    link(rel='stylesheet',href='../plugs/select/dropkick.css').
    script(type='text/javascript',src='../plugs/select/dropkick.js').
    script(type='text/javascript').
        $(function(){
            $('select').dropkick();
        });