extends ../dashboard.jade
block Define
    - var basePath = '../';

block header
    link(rel='stylesheet', href='../css/product.css')   

block DashboardTitle
    商品管理

block Right    
    .product.
        <form action="#" class="form-inline">
            <div class="form-group">
                <label for="productName">商品名称：</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="state">上架状态：</label>
                <div class="dropdown inline">
                    <select name="" id="state" class="form-control">
                        <option value="0">全部</option>
                        <option value="1">已上架</option>
                        <option value="2">已下架</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="btn btn-primary">添加商品</div>
            </div>
        </form>
        <button class="btn btn-blue">查询</button>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>商品图片</td>
                        <td>详细信息</td>
                        <td>分销价</td>
                        <td>库存</td>
                        <td>上架</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pro in productList">
                        <td class="product-td-img">
                            <input type="checkbox">
                            <img class="product-img" src="../img/logo.png" alt="">
                        </td>
                        <td>
                            <p class="product-desc">美国进口53 Paper pencil 蓝牙触控笔ipad电容笔 高精度电容笔 绘画</p>
                            <div class="product-catalog">
                                <a href="javascirpt:;">箱包皮具</a>
                                <a href="javascirpt:;">热销女包</a>
                            </div>
                        </td>
                        <td class="center">￥138.00</td>
                        <td class="center">50</td>
                        <td class="ok"></td>
                        <td>
                            <div class="row product-operator">
                                <div class="col-lg-6">
                                    <a href="detail.html" class="edit"></a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="javascript:;" class="delete"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav>
            <ul class="pagination">
                <li><a href="javascript:;" aria-label="Previous">&laquo;</a></li>
                <li><a href="javascript:;">1</a></li>
                <li><a href="javascript:;">2</a></li>
                <li><a href="javascript:;">3</a></li>
                <li><a href="javascript:;">4</a></li>
                <li><a href="javascript:;">6</a></li>
                <li><a class="more" href="javascript:;">...</a></li>
                <li><a href="javascript:;" aria-label="Next"><span aria-hidden="true">&gt;</span></a></li>
                <li class="pagin-extend">共
                    <i class="totalPage">7</i>页，到第<input type="text" class="text-input">页
                    <button class="btn btn-blue">确定</button>
                </li>
                
            </ul>
        </nav>
