extends ../dashboard.jade
block Define
    - var basePath = '../';

block header
    link(rel='stylesheet', href='../css/product.css')   

block DashboardTitle
    商品管理

block Right    
    .product.
        <h4 class="indexH3">商品列表</h4>
        <form action="#" class="querycond">
            <div class="form-inline">
                <div class="form-group">
                    <label for="productName">商品名称：</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="state">商品状态：</label>
                    <div class="dropdown inline">
                        <select name="" id="state" class="form-control">
                            <option value="0">全部</option>
                            <option value="1">出售中</option>
                            <option value="2">已下架</option>
                            <option value="3">草稿</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formDate" class="control-label">商品更新时间</label>
                    <input type="text" name="formDate" id="formDate" class="formDate form-control">
                    <span class="to">—</span>
                    <input type="text" name="toDate" id="toDate" class="toDate form-control">
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label for="productName">商品分类：</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="state">商品品牌：</label>
                    <div class="dropdown inline">
                        <select name="" id="state" class="form-control">
                            <option value="0">全部</option>
                            <option value="1">出售中</option>
                            <option value="2">已下架</option>
                            <option value="3">草稿</option>
                        </select>
                    </div>
                </div>
                <div class="form-group price-group">
                    <label for="formPrice" class="control-label">商品价格</label>
                    <input type="text" name="formPrice" id="formPrice" class="formPrice form-control">
                    <span class="to">—</span>
                    <input type="text" name="toPrice" id="toPrice" class="toPrice form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-blue">查询</button>
                    <!-- <button class="btn btn-bigblue" id='addBrand'>添加商品</button> -->
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <button class="btn btn-blue">单件添加商品</button>
                    <button class="btn btn-blue">导入产品</button>
                    <button class="btn btn-blue">批量删除</button>
                    <button class="btn btn-blue">一键搬家</button>
                </div>
                
            </div>
            
        </form>
        
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td><input id ="all" type="checkbox"></td>
                        <td>商品图片</td>
                        <td class="detailed">详细信息</td>
                        <td>分销价</td>
                        <td>库存</td>
                        <td class="product-state-td">上架</td>
                        <td class="prodcut-operator-td">操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pro in productList">
                        <td class="center"><input id ="1" type="checkbox"></td>
                        <td class="product-td-img">
                            <img class="product-img" src="../img/logo.png" alt="">
                        </td>
                        <td>
                            <p class="product-desc">美国进口53 Paper pencil 蓝牙触控笔ipad电容笔 高精度电容笔 绘画</p>
                            <div class="product-catalog">
                                <a href="retailer.html" class="pull-right">在售分销商</a>
                                <a href="javascirpt:;" class="gray">箱包皮具</a>
                                <span class="gray">&gt;</span>
                                <a href="javascirpt:;" class="gray">热销女包</a>
                            </div>
                        </td>
                        <td class="center">
                            <div class="mprice"><input type="text" value="138.00" class="form-control input-price"></div>
                        </td>
                        <td class="center">
                            <input type="text" value="50" class="form-control input-stack">
                        </td>
                        <td class="center">
                            <a href="javascript:;" class="green upAction" updata="1">已上架</a>
                        </td>
                        <td>
                            <div class="row product-operator">
                                <div class="col-lg-6">
                                    <a href="detail.html" class="edit"></a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="javascript:;" class="delete"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="pro in productList">
                        <td class="center"><input id ="2" type="checkbox"></td>
                        <td class="product-td-img">
                            <img class="product-img" src="../img/logo.png" alt="">
                        </td>
                        <td>
                            <p class="product-desc">美国进口53 Paper pencil 蓝牙触控笔ipad电容笔 高精度电容笔 绘画</p>
                            <div class="product-catalog">
                                <a href="retailer.html" class="pull-right">在售分销商</a>
                                <a href="javascirpt:;" class="gray">箱包皮具</a>
                                <span class="gray">&gt;</span>
                                <a href="javascirpt:;" class="gray">热销女包</a>
                            </div>
                        </td>
                        <td class="center">
                            <div class="mprice"><input type="text" value="138.00" class="form-control input-price"></div>
                        </td>
                        <td class="center">
                            <input type="text" value="50" class="form-control input-stack">
                        </td>
                        <td class="center">
                            <a href="javascript:;" class="red upAction" updata="2">未上架</a>
                        </td>
                        <td>
                            <div class="row product-operator">
                                <div class="col-lg-6">
                                    <a href="detail.html" class="edit"></a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="javascript:;" class="delete"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav>
            <ul class="pagination">
                <li><a href="javascript:;" aria-label="Previous">&laquo;</a></li>
                <li><a href="javascript:;">1</a></li>
                <li><a href="javascript:;">2</a></li>
                <li><a href="javascript:;">3</a></li>
                <li><a href="javascript:;">4</a></li>
                <li><a href="javascript:;">6</a></li>
                <li><a class="more" href="javascript:;">...</a></li>
                <li><a href="javascript:;" aria-label="Next"><span aria-hidden="true">&gt;</span></a></li>
                <li class="pagin-extend">共
                    <i class="totalPage">7</i>页，到第<input type="text" class="text-input">页
                    <button class="btn btn-blue">确定</button>
                </li>
                
            </ul>
        </nav>
block foot
    link(rel='stylesheet',href='../plugs/select/dropkick.css').
    script(type='text/javascript',src='../plugs/select/dropkick.js').
    script(type='text/javascript').
        $(function(){
            $('select').dropkick();

            $('#formDate,#toDate').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
            $(document.body).delegate('.upAction','click',function(e){
                $.dialog({
                    content:'商品状态 <label class="radio-inline"><input type="radio">上架</label><label class="radio-inline"><input type="radio">下架</label>',
                    title:"修改商品状态",
                    buttons:[{
                            text:'保存',
                            style:'blue',
                            click:function(dialog){
                                //TODO
                                dialog.modal('hide');
                            }
                    }]
                })
            })
        });