extends master.jade
block title
    title 首页

block header
    link(rel='stylesheet', href='#{basePath}css/manage/home.css')

block DashboardTitle
    首页

block Right
    .manageHome
        ul.list-group
            li.list-group-item
                span.group-title 待处理订单
            li.list-group-item
                a.pull-right.blue 前往处理
                span.red 12
                | 个等待发货的订单
            li.list-group-item
                a.pull-right.blue 前往处理
                span.red 10
                | 个等待退货的订单
            li.list-group-item
                a.pull-right.blue 前往处理
                span.red 12
                | 个等待付款的退货单
            li.list-group-item
                span.group-title 待处理信息
            li.list-group-item
                a.pull-right.blue 前往处理
                span.red 5
                | 个品牌已通过审核
            li.list-group-item
                a.pull-right.blue 前往处理
                span.red 5
                | 个品牌未通过审核