extends master.jade
block title
    title 首页

block header
    link(rel='stylesheet', href='#{basePath}css/manage/home.css')

block DashboardTitle
    首页

block Right
    .manageHome
        div.list-group
            a.list-group-item(href='javascript:;')
                span.red 12
                | 个等待审核供应商
            a.list-group-item(href='javascript:;')
                span.red 10
                | 个等待审核品牌
            a.list-group-item(href='javascript:;')
                span.red 12
                | 个等待处理投诉