.capital{
    padding-top: 12px;
}

.capital *{
    color:#666666;
}

.capital>.nav{
    border:1px solid #ececec;
}

.capital>.nav a{
    color:#666666;
    line-height: 50px;
    margin:0px 0px 0px -1px!important;
    padding:0!important;
    width:125px;
    text-align: center;
    cursor: pointer;
}

.capital>.nav-tabs>li.active>a,.capital>.nav-tabs>li.active>a:hover{
    color:#069dd5;
    padding:0;
    background-color: #fff;
    border:1px solid #ececec;
    border-top: 0px;
    border-bottom: 3px #069dd5 solid;
}

.capital>.nav>li{
    
}

 .info-group{
    margin-top: 40px;
    padding-left: 15px;
}

.capital .money-group{
    position: relative;
    display: inline-block;
    padding-right: 30px;
}

.capital .money{
    color:#333333;
    font-size: 42px;
    font-weight: bold;
}

.capital .unit{
    position: absolute;
    right:0px;
    bottom:15px;
}
.capital .btn-go{
    display: inline-block;
    padding:0px 10px;
    border-radius:3px;
    min-width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border:1px solid #dedede;
    cursor: pointer;
    color:#666666;
    text-decoration: none;
    margin:0px 12px;
}
.capital .btn-go:hover{
    background-color: #EEE;
}
.capital .btn-go.btn-hidden{
    visibility: hidden;
}
.capital .operator-group{
    margin-top:20px;
}

.capital .operator-group .goto{
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
    color:#069dd5;
}

.capital .text-input{
    width: 100px;
}

.capital .topBar .stage1{
    margin-right: 23px;
}

.capital .topBar .stage2{
    margin:0px 6px 0px 9px;
}

.capital .topBar button{
    height: 35px;
    line-height: 35px;
    padding:0px;
    width:111px;
    margin-left: 25px;
    vertical-align: bottom;
}

.capital .table td{
    text-align: center;
}

.capital .cardSelector{
    margin-left: -15px;
}