.product .table{
    text-align: center;
}
.distributor .dismess{
    color: #666666;
}
.distributor thead{
    background-color: #f6f6f6;
}
.distributor-sta1{
    color: #4cbd4e;
}
.distributor-sta2{
    color: #de0a0a;
}
.distributor .table>tbody>tr>td{
    height: auto;
}
.disdet-lf{
    width: 95px;
}
.IDaction{
    padding-top: 7px;
    padding-right: 46px;
    float: left;
}
.distributor-detail .disdet-fg{
    margin-left: 0;
}
.distributor-detail .disdet-lf{
    margin-right: 20px;
}
.distributor-detail .disdet-action{
    margin-bottom: 30px;
}
.distributor-detail .media-list{
    margin-left: 124px;
}
.distributor-detail .media-left .media-object{
    width: 48px;
    height: 22px;
}
.distributor-detail .media-body, .distributor-detail .media-left, .distributor-detail .media-right{
    vertical-align: middle;
}