.product .table{
    text-align: center;
}
.distributor .dismess{
    color: #666666;
}
.distributor thead{
    background-color: #f6f6f6;
}
.distributor-sta1{
    color: #4cbd4e;
}
.distributor-sta2{
    color: #de0a0a;
}