.home{
    padding-top: 10px;
    font-size: 1.28em;
}
.home .basicInfo>*{
    vertical-align: middle;
}
.home .basicInfo .auth-img{
    margin-right: 20px;
    width:46px;
    height: 36px;
}
.home .auth-stat{    
    margin-right: 25px;
}
.home .basicInfo .question{
    font-size: 0.77em;
    margin-left: 10px;
    margin-right: 25px;
}

.home #bindWeixin{
    padding-left: 44px;
    background: url(../img/logo_weixin.png) 0 center no-repeat;
    height: 24px;
}
.home #bindWeixin>span:hover{
    text-decoration: underline;
}
.home #bindWeixin .tip-rectangle{
    left:105px;
    top:-85px;
    font-size: 0.77em;
}
.home .view{
    margin-left: 23px;

}
.home .addBrand{
    padding-left:40px;
    background: url(../img/cross.png) 0 center no-repeat;
    background-size: 24px 24px;
}
.home .question .tip{
    left:-110px;
}
.home .question .tip-acute{
    left:115px;
}
.home .question.auth-tip .tip-content{
    width:300px;
}
.home .noProduct{
    height: 93px;
    line-height: 71px;
    text-align: center;
}