.order{
    padding-top: 10px;
}

.order .headBar{
    height: 50px;
    padding:9px 15px;
    border:1px #e2e2e2 solid;
    margin-top: -1px;
    line-height: 27px;
}

.order .headBar button{
    margin:0px 8px;
    height: 29px;
    padding:0px 12px;
}

.order .headBar a{
    margin-left: 8px;
    cursor: pointer;
    text-decoration: none!important;
}

.order .headBar input{
    vertical-align: top;
    margin-right: 7px;
    margin-top: 7px;
}

.order .orderlist{
    margin-top: 18px;
}

.order td{
    text-align: center;
}
.order .titleTR td{    
    background-color: #f6f6f6;
    color:#888888;
}

.order .retailer{
    min-width: 100px;
}

.order .receiver{
    min-width: 90px;
}

.order .titleTR td:first-child{
    text-align: left;
}

.order .orderTR td{
    padding-top: 18px;
}

.order .orderTR .ckTD{
    border-right:0px;
    padding:38px 0px 0px 13px;
}

.order .productImgs{
    width: 197px;
    padding:5px;
    border-left: 0px;
    text-align: left;
}

.order .productImgs img{
    width: 52px;
    height: 52px;
    border:1px solid #e1e1e1;
    margin:5px;
}
.order .orderOperator{
    min-width: 85px;
}
.order .orderOperator a{
    display: block;
    cursor:pointer;
    margin-top:16px;
}
.order .orderOperator a:first-child{
    margin-top: 0px;
}

.order .searchBar{
    margin-top:20px;
}

.order .searchBar .form-group{
    margin-right: 60px;
    margin-bottom: 20px;
}

.order .searchBar .form-group:last-child{
    margin-right: 0px;
}

.order .stdLable{
    width:86px;
}

.order .stdLable2{
    width:72px;
}


.order .gap30{
    margin-top:30px;
}

.order #waybill{
    width:112px;
}
.order #orderNum{
    width:302px;
}
.order .timeSpan input{
    width:125px;
}

.order .timeSpan .part{
    margin:0px 15px;
}
.order label{
    color:#333333;
    font-weight: normal;
}
/* 订单详情 */
.order.detail p{
    margin-bottom: 20px;
    color:#666666;
}
.order.detail p>span{
    display: inline-block;
    width:75px;
}


.order.detail h2{
    margin: 40px 0px;
}

.order.detail h2:first-child{
    margin-top: 0px;
}

.order .streamTable td{
    text-align: left;
    color:#666666;
}

.order .streamTable tbody>tr:first-child{
      border-top: 1px solid #ddd;
}

.order .streamTable tbody>tr>td{
    border-top: 0px;
}

.order .timeTD{
    width:160px;
}

/* 无货反馈对话框 */
#noStockForm .noStockProducts{
    margin-bottom: 15px;
}
#noStockForm .noStockProducts>div{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#noStockForm .noStockProducts img{
    width:52px;
    height: 52px;
    margin:10px;
    border:1px solid #e1e1e1;
}
#noStockForm .noStockProducts .ok{
    display: none;
    position: absolute;
    right: 10px;
    bottom:10px;
    width:16px;
    height: 16px;
    background-color: white;
    background-size: 100% 100%;
}
#noStockForm .noStockProducts .checked .ok{
    display: block;
}
#noStockForm textarea{
    height: 150px;
    resize:none;
}
/* 取消订单对话框 */
#returnofgoodsForm .imgs>div{
    display: inline-block;
    margin:5px;
    border:1px solid #e1e1e1;
    cursor: pointer;
    vertical-align: top;
    position: relative;
}
#returnofgoodsForm .imgs img{
    width:52px;
    height: 52px;
}
#returnofgoodsForm .imgs a.upload{
    display: inline-block;
    width:52px;
    height: 52px;
    background: url(../img/add.png) center center no-repeat;
}
#returnofgoodsForm textarea{
    margin-top: 5px;
    resize:none;
    height: 150px;
}
#returnofgoodsForm .btn-fork{
    position: absolute;
    right: 0px;
    top:0px;
    width:10px;
    height: 10px;
}