.product{

}

.product .table{
    margin-bottom: 0px;
}
.product .prodcut-operator-td{
    width:120px;
}

.product .product-operator div{
    text-align: center;
}

.product .table>tbody>tr>td{
    vertical-align: middle;
    height: 140px;
    padding:15px 15px;
}

.product .table>thead>tr>td{
    text-align: center;
    
}

.product .center{
    text-align: center;
}

.product .product-desc{
    color:#666666;
}

.product-catalog a{

}
.product-state-td{
    min-width: 80px;
}
.product .input-price,.product .input-stack{
    width: 64px;
    text-align: center;
    margin:0 auto;
}
.product .form-inline{
    padding:20px 0px;
}

.product .table-responsive{
    margin-top: 30px;
}

.product .product-img{
    max-width: 105px;
    max-height: 105px;
}

.product .pagination{
    float: right;
}

.product .form-group{
    margin-right: 40px;
}

.product .dropdown-menu{
    padding:0px;
    width:110px;
    min-width: 110px;
}

.product .dropdown-menu a{
    height: 35px;    
    line-height: 35px;
}

.product .dropdown-menu a:hover{
    background-color: #e6e6e6;
}

.product .dropdown-menu li{
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
    margin-top: -1px;
    
}

.product .dropdown button{
    width:110px;
    text-align: left;
}

.product .dropdown .caret{
    float: right;
    margin-top: 8px;
}

.product .product-td-img{
    width: 160px;
    text-align: center;
}

#addBrand{
    height: 35px;
    vertical-align: middle;
    padding:0px 15px;
    margin-left:15px;
}

/* 商品详情部分 */

.product-detail{
    padding-top: 15px;
}

.product-detail .catalog>.row>div{
    margin-bottom: 15px;
}
.product-detail .catalog .panel-body>div{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.product-detail .table-center td{
    text-align: center;
    vertical-align: middle;
}

.product-detail .btn-fork,.product-detail .btn-ok{
    width:16px;
    height: 16px;
    margin:0px 10px;
}
.product-detail .customTable input{
    width:50%;
    margin:0 auto;
    text-align: center;
}
.product-detail .col-operator{
    min-width: 70px;
}
.product-detail .table-price td{
    width:40%;
}
.product-detail .table-price td:last-child{
    width:20%;
}
.product-detail .table-model td{
    width:27%;
}
.product-detail .table-model td:last-child{
    width:19%;
}
.product-detail label{
    color:#666666;
    font-weight: normal;
    padding-right: 0px;
    float: left!important;
    width:105px;
}

.product-detail .desc{
    margin-top: -10px;
    margin-bottom: 15px;
}

.product-detail .attach{
    margin-top: 25px;
    clear: both;
}

.product-detail .stdLeft{
    width:100px;
    height: 1px;
    float: left;
}
.product-detail .stdLeft:after{
    content:" ";
}

.product-detail .form-group>div{
    padding-left: 5px;
}



.product-detail .text-cell{
    line-height: 34px;
}
.btn-icon-magnifier{
    /*padding-left: 28px;
    background: #337ab7 url(../img/magnifier.png) 12px center no-repeat;*/
}
.product-detail .catalog .glyphicon-search{
    padding-right: 10px;
    margin-left: -10px;
    vertical-align: middle;
  margin-top: -5px;
}
.product-detail .catalog .form-control{
    min-width: 80px;
    margin: auto;
}
#productDescription{
    width:100%;
    resize:none;
}

.product-hotflags>div{
    display: inline-block;
    position: relative;
}

.product-hotflags button{
    border:0px;
    background-color: #dedede;
    color:#333333;
    width:95px;
    height: 33px;
    margin:0px 7px 17px 7px;
    
}
.product-hotflags a{
    position: absolute;
    right:12px;
    top: 5px;
}

.product-hotflags .selected button{
    background-color: #7ac7e4;
    color:white;
}

.product-hotflags .selected a{
    background-image:url(../img/white-x.png);
}

.saveAndBack{
    margin-left: 28px;
    text-decoration: underline;
}


.product-images>div{
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    border:1px solid #CCC;
    margin:5px;
    width:75px;
    height: 75px;
    display: inline-block;
    vertical-align: top;

}
.product-images>span{
    vertical-align: bottom;
}
.product-images a.glyphicon{
    text-decoration: none!important;
}
.product-images a.upload{
    display: inline-block;
    width:100%;
    height: 100%;
    cursor: pointer;
    background: url(../img/add.png) center center no-repeat;
}
.product-images .glyphicon-remove{
    color:red;
    position: absolute;
    right:0px;
    top:0px;
}
.btn-bar button{    
    margin-right: 15px;
}
.btn-bar button:last-child{
    margin-right: 0px;
}
.product-detail .question .tip-acute{
    left:105px;
}
.product-detail .question .tip{
    left:-100px;
}

/* 在售分销商 */
.retailer .page-header{
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom-color:#e2e2e2;
}
.retailer-table .leftTitle{
    vertical-align: middle;
}

.retailer-table td{
    text-align: center;
    
}

.retailer-table>tbody>tr>td{
    padding:0px;
    vertical-align: middle;
}

.retailer-table .default{
    padding:8px 8px;
}

.retailer-table .text{
    line-height: 34px;
}

.retailer-table .caret{
    margin-left: 10px;
}

.retailer-table .checkbox{
    margin:7px 0px;
}


.retailer-count{
    color:#666666;
}

.retailer-count .red{
    color:red;
    margin:0px 5px;
}

.retailer-img{
    height: 110px;
}

.retailer .foot .pagination{
    float: right;
}

.product-name{
    margin-top:8px;
    font-weight: bold;
}

.grayText{
    color:#999999;
}

.contact{
    background: url(../img/mail.png) center center no-repeat;
    display: inline-block;
    width: 24px;
    height: 20px;
    cursor:pointer;
    vertical-align: middle;
}
.dib{
    display: inline-block;
}
.pagination>li:first-child>a{
    border-radius: 0;
    margin-right: 5px;
}
.pagination>li:last-child>a{
    border-radius: 0;
    margin-left: 5px;
}
.pagination .more{
    border: none;
    border-left: 1px solid #ddd;
}
.product .btn-addcom{
    float: right;
    margin-top: 65px;
}
.product .btn-addcom .btn-primary{
    background-color: #e6f5fb;
    border: 1px solid #afd6e5;
    width: 86px;
    height: 34px;
    color: #666666;
    border-radius: 0;
 }
.retailerDetail{
    border:1px solid #069dd5;
    position: fixed;
    box-shadow: 0 8px 27px #989898;
    display: none;
    background-color: #FFF;
    z-index: 1000;
}
.retailerDetail .retailer-table{
    margin-bottom: 0px;
}
.retailerDetail .retailer-table td{
    width:20%;
}
.retailerDetail .retailer-table thead>tr>td{
    height: 41px;
    vertical-align: middle;
}
.retailerDetail .bottomBar{
    padding:5px 16px;
}
.retailerDetail a.closeretailerDetail{
    position: absolute;
    right:4px;
    top:2px;
}
.retailerDetail button.closeretailerDetail{
    padding:0px;
    width:74px;
    height: 29px;
    border-radius: 5px;
}
@media (min-width:1200px) {
    .retailerDetail{
        width:600px;
    }
}