.relation{
    padding-top: 20px;
}
.relation .hr{
    margin:5px 0px 15px 0px;
}
.relation .hasValue{
    font-weight: bold;
    border-color:green;
}
.text-center{
    text-align: center;
}
.require-after:after{
    content:"*";
    margin-left: 4px;
    color:red;
}
/************************* 映射编辑页面相关样式 *************************/
#btn_relationCatalog{
    margin-left: 10px;
}
#platform{
    padding:6px 10px;
}
#loadProperties{
    cursor: pointer;
}
.extendSelector{
    display: inline-block;
    vertical-align: middle;
}
.viewBar{
    width:200px;
    height:34px;
    border:1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    padding:6px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.gap{
    margin:0px 20px;
    vertical-align: top;
    padding: 5px 0px;
}
#platform{
    width:150px;
}
#topForm label{
    margin:0px 10px 0px 0px;
}
#topForm .form-group{
    margin-bottom: 10px;
}
.platform-prop-text{
    vertical-align: middle;
    margin-left: 13px;
    color:red;
}

.form-group>.select-prop,.form-group>.select-value{
    margin-left: 10px;
    width:166px;
    height: 25px;
    padding:0;

}
.propMap .btn-collapse{
    margin-right: 5px;
}
.propMap .panel:hover{
    outline: 2px solid #bce8f1;
}
.propMap .list-group-item:hover{
    background-color: #ECECEC;
}

.propMap .list-group{
    margin-bottom: 0px;
}

.propMap .panel-body .alert{
    margin-bottom: 0px;
}

.selectorBar{
    z-index: 1020;
}
.selectorBar .panel-heading{
    text-align: center;
    font-size: 16px;
}
.selectorBar .selector-title{
    margin:0px 10px;
    font-weight: bold;
}
.selectorBar .pagin.disable{
    color:gray;
}

.selectorBar .selector-row{
    white-space: nowrap;
    overflow: hidden;
}
.selectorBar .selector-col{
    width:250px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    border:1px solid #CCC;
    margin-right: 10px;
    overflow: auto;
}

.selectorBar .selector-col .input-group{
    margin:5px;
}

.selectorBar .selector-col input{
    padding:6px 5px;
}

.selectorBar .selector-col:last-child{
    margin-right: 0px;
}

.selectorBar .selector-option{
    display: block;
    padding:7px 5px;
    color:rgb(101,103,107);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.selectorBar .selector-option:hover{
    background-color: rgb(255,255,205);
}

.selectorBar .selector-option.active{
    background-color: rgb(255,255,205);
    color:red;
    
}

.selectorBar .selector-option.haschild{
    padding-right: 20px;
}
.selectorBar .selector-option.haschild:before{
    font-family: 'Glyphicons Halflings';
    content: "\e258";
    float:right;
    margin-right: -15px;
    color:rgb(101,103,107);
}
.selectorBar .selector-cover{
    background-color: black;
    opacity:0.3;
    position: absolute;
    z-index: 5;
    top:0px;
    left: 0px;
}
.selectorBar .panel{
    margin-bottom: 0px;
}