<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>万物        </title>
    <link rel="stylesheet" href="plugs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/foot.css"/>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <!--[if lt IE 9]>
    <p class="upBrowser">万物不再支持<strong>过时、不安全</strong> 的浏览器. 请选择更高级  <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div class="login">
    <div class="docs-header">
    <div class="container">
    <a class="navbar-brand" href="index.html"></a>
    <h2 class="navbar-line">找回密码</h2>
    </div>
    </div>
    <div class="container">
    <div class="row">
    <div class="da" ui-view>
    <div>
      <div class="m-bock-pass wrap" id="m-bock-pass">
          <div class="m-pro start yes dib">
              <div class="pro-sta pro-sta1">1</div>
              <span class="m-pro-con">填写手机号</span>
          </div>
          <div class="dib pro-line yes"></div>
          <div class="m-pro dib yes">
              <div class="pro-sta pro-sta3">2</div>
              <span class="m-pro-con">重置密码</span>
          </div>
          <div class="dib pro-line no"></div>
          <div class="m-pro no dib">
              <div class="pro-sta pro-sta4">3</div>
              <span class="m-pro-con">成功</span>
          </div>
      </div>
      <div class="m-fm-back-pass">
          <form action="" class="form-horizontal">
              <fieldset>
                  <div class="form-group">
                      <label class="col-sm-2 control-label" for="password">密码：</label>
                      <div class="col-sm-8">
                          <input class="form-control" id="password" name="password" type="password" autofocus>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label" for="repassword">重复密码：</label>
                      <div class="col-sm-8">
                          <input class="form-control" id="repassword" name="repassword" type="password" autofocus>
                      </div>
                  </div>
                  <div class="m-back-next">
                      <button type="submit" class="btn btn-default back-next">下一步</button>
                  </div>
              </fieldset>
          </form>
      </div>       
    </div></div>
    </div>
    </div>
    </div>
    <script type="text/javascript" src="plugs/jquery/jquery.min.js"></script>
  </body>
  <div class="footer">
  <p><a href="javascript:void(0);">服务协议</a>| <a href="javascript:void(0);">联系我们</a></p>
  <p class="comp">Copyright &copy; 2015 万物wanwu.com版权所有 京ICP备09017905号</p>
  </div>
</html>