
<nav class="clearfix">
  <ul class="pagination">
    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#" class="more">...</a></li>
    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    <li class="pagin-extend">共<i class="totalPage">7</i>页，到第
      <input type="text" class="text-input"/>页
      <button type="button" class="btn btn-blue">确定</button>
    </li>
  </ul>
</nav>