.report{
    padding-top: 10px;
}
.report .searchForm>.form-group{
    margin:0px 40px 22px 0px;
}
.report .searchForm input,.report .searchForm select{
    width:233px;
}
.report .searchForm label{
    width:90px;
}
.report label{
    font-weight: normal;
    color:#333333;
}
.report .reportTable td{
    text-align: center;
    vertical-align: middle;
}
.report .reportTable .summary{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width:150px;
    display: inline-block;

}
.report .reportTable thead td{
    color:#888888;
}
.report .groupBar{
    margin-bottom: 10px;
}
.report .headbar{
    margin-bottom: 45px;
    font-size: 18px;
}
.report .headbar>div{
    margin-right: 110px;
}
.report .headbar>div:last-child{
    margin-right: 0px;
}
.report .reportBar{
    margin-bottom: 10px;
}

.report .reportImgs>div, .report .feedbackImgs>div{
    margin:0px 29px 25px 0px;
    border:1px solid #e1e1e1;
    width:105px;
    height: 105px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.report .reportImgs img, .report .feedbackImgs img{
    width:100%;
    height: 100%;
}
.report .result{
    height: 120px;
    resize:none;
    margin-bottom: 45px;
}
.report.detail p{
    color:#666666;
    margin-bottom: 20px;
}
.report .reportTable td{
    text-align: center;
    vertical-align: middle;
}
.report .productInfo{
    text-align: left!important;
}
.report .productInfo a{
    margin-right: 20px;
}
.report .reportTable img{
    width:105px;
    height: 105px;
}
.report.detail .btnBar button{
    margin-right: 20px;
}