.album{
    padding-top:10px;
}
.album .topBar{
    margin-bottom: 15px;
}
.album-table td{
    text-align: center;
    vertical-align: middle!important;
}
.album-table input[type=checkbox]{
    cursor:pointer;
}
.album-table label{
    font-weight: normal;
    vertical-align: top;
    margin:0;
    cursor:pointer;
}

.album-table .explain{
    text-align: left;
    vertical-align: top!important;
}
.album-table .onlineTime{
    width:170px;
}
.album-table .onlineTD, .album-table .cboTD,.album-table .operTD{
    width:80px;
}
.album-table .onlineTD>a{
    width:20px;
    height: 20px;
}
.album-table .titleTD{
    width:200px;
}
.album-table .operTD>a{
    margin-right: 10px;
}
.album-table .operTD>a:last-child{
    margin-right: 0px;
}
.bottomBar>button{
    margin-right: 15px;
}
.bottomBar>button:last-child{
    margin-right: 0px;
}

/* 专辑详情 */
.album-detail form .control-label{
    float: left;
    width:100px;
    font-weight: normal;
}
.album-detail textarea{
    resize: none;
    height: 150px;
}
.album-detail .form-aline{
    padding-left: 115px;
    margin-top: 15px;
}
.album-detail #albumOnline{
    margin-top: 12px;
    cursor: pointer;
}
.album-detail #albumOnlineDate{
    width: 150px;
}