.product{
    padding-top: 10px;
}
.product .product-table td{
    text-align: center;
}
.product .product-table .dataTR td{
    vertical-align: middle;
}
.product .product-table img{
    width:105px;
    height: 105px;
    border:1px solid #e1e1e1;
}

.product .product-table a{
    margin:0px 7px;
}
.product .product-table .product-info{
    text-align: left;
}
.product .product-table .product-info a:first-child{
    margin-left:0px;
}
.product .searchForm{
    margin-bottom: 50px;
}
.product .searchForm .form-group{
    margin-right: 60px;
}
.product .searchForm .clearfix{
    margin-top: 30px;
}
