extends master.jade
block InfoDefine

block title
    title 基本资料

block DashboardTitle
    基本资料

block InfoContent
    .basicInfo
        .panel.panel-default
            .panel-body
                p.alert.alert-warning 您需要进一步提交公司认证资料后才能上架商品
                .schedule.step-1
                    img.img-responsive.scheduleImg-1.scheduleImg(src='../img/schedule-1.png')
                    img.img-responsive.scheduleImg-2.scheduleImg(src='../img/schedule-2.png')
                    img.img-responsive.scheduleImg-3.scheduleImg(src='../img/schedule-3.png')
                .hr
                form.form-horizontal#basicInfoForm
                    h4.subtitle 基本资料
                    .form-group
                        label.control-label 用户名
                        .col-md-6.form-text
                            | quwan
                    .form-group
                        label.control-label 用户头像
                        .col-md-6
                          div#userheadImage(style="margin-bottom: 10px;" data-maxcount="1")
                            div.imgBar.face
                              div.uploadImgs
                                img#headImage.uploadImgs(src="../img/logo.png", alt="" width="200" height="200" style="border-radius: 6px;")
                            input.imgval(type="hidden" name="image")
                            div.btn.btn-bigblue.btn-upload 
                              span(style="line-height:31px;") 上传头像
                              input.fileupload(type="file"  name='mypic')
                            div.progress
                              span.bar
                              span.percent 0%
                    .form-group
                        label(for="email").control-label 邮箱
                        .col-md-6
                            input#email(type="text", name="email").form-control
                    .form-group
                        label.control-label 手机
                        .col-md-6.form-text
                            | 186****1462
                    .form-group
                        label(for="phone").control-label 固话
                        .col-md-6
                            input#phone(type="text", name="phone").form-control
                    .form-group
                        label(for="fax").control-label 传真
                        .col-md-6
                            input#fax(type="text").form-control
                    .form-group
                        label.control-label.require 所在地区
                        .col-md-6.form-comb
                            .row
                                .col-sm-4
                                    select.form-control(name="province")#province
                                .col-sm-4
                                    select.form-control(name="city")#city
                                .col-sm-4
                                    select.form-control(name="area")#area
                    .form-group
                        label(for="street").control-label 街道地址
                        .col-md-6
                            input#street(type="text").form-control
                    .form-group
                        label.control-label(for="show" title="向分销商展示联系人信息")
                        .col-md-6
                            input#show(type="checkbox")
                            |&ensp;向分销商展示联系人信息
                            
                    h4.subtitle 资格认证信息
                    .form-group
                        label.control-label.require 用户类型
                        .col-md-8
                            label.radio-inline
                              input(type="radio",name="usetype",value="0")
                              企业用户
                            label.radio-inline
                              input(type="radio",name="usetype",value="1")
                              个人用户
                    .form-group
                        label(for="company").control-label.require 公司名称
                        .col-md-6
                            input#company(type="text", name="company").form-control
                    .form-group
                        label(for="businessCatalog").control-label.require 经营品类
                        .col-md-6
                            input#businessCatalog(type="text", name="businessCatalog").form-control
                    .form-group
                        label.control-label.require 银行开户许可证
                        .col-md-6
                            button(type='button').btn.btn-bigblue.btn-upload 上传附件
                            .row
                                .col-xs-12
                                    img(src="../img/logo.png").img-responsive.showImg
                    .form-group
                        label.control-label.require 营业执照注册号
                        .col-md-6
                          input#businessCode.form-control(maxlength="60" type="text" name="businessCode")
                    .form-group
                        label.control-label.require 营业执照
                        .col-md-8
                            button(type='button').btn.btn-bigblue.btn-upload 上传附件
                            .row
                                .col-xs-12
                                    img(src="../img/logo.png").img-responsive.showImg
                    .form-group
                        label.control-label.require(for="connectName") 联系人姓名
                        .col-md-6
                          input#connectName.form-control(maxlength="30" type="text" name="connectName")
                    .form-group
                        label.control-label.require(for="connectPhone") 联系人手机号
                        .col-md-6
                          input#connectPhone.form-control(maxlength="14" type="text" name="connectPhone")
                    .form-group
                        label.control-label.require 联系人身份证
                        .col-md-4
                            button(type='button').btn.btn-bigblue.btn-upload 上传正面
                            .row
                                .col-xs-12
                                    img(src="../img/logo.png").img-responsive.showImg
                        .col-md-4
                            button(type='button').btn.btn-bigblue.btn-upload 上传反面
                            .row
                                .col-xs-12
                                    img(src="../img/logo.png").img-responsive.showImg
                    .form-group
                        label.control-label.require(for="corpName") 法人姓名
                        .col-md-6
                          input#corpName.form-control(type="text" maxlength="40" name="corpName")
                    .form-group
                        label.control-label.require 法人身份证
                        .col-md-4
                            button(type='button').btn.btn-bigblue.btn-upload 上传正面
                            .row
                                .col-xs-12
                                    img(src="../img/logo.png").img-responsive.showImg
                        .col-md-4
                            button(type='button').btn.btn-bigblue.btn-upload 上传反面
                            .row
                                .col-xs-12
                                    img(src="../img/logo.png").img-responsive.showImg
                    .form-group
                        label#organizationNameLeber.control-label(for="organizationName" maxlength="40") 组织机构代码
                        .col-md-6
                          input#organizationName.form-control(type="text" name="organizationName")
                    .form-group
                        label.control-label.require 组织结构代码证
                        .col-md-8
                            button(type='button').btn.btn-bigblue.btn-upload 上传附件
                            .row
                                .col-xs-12
                                    img(src="../img/2013.jpg").img-responsive.showImg
                    .form-group
                        label.control-label.require 税务登录证
                        .col-md-8
                            button(type='button').btn.btn-bigblue.btn-upload 上传附件
                            .row
                                .col-xs-12
                                    img(src="../img/2015.jpg").img-responsive.showImg
                    .form-group
                        .control-label
                        .col-md-8
                            button(type="submit")#submit.btn.btn-blue 保存
        .block-holder
    .hidden
        .brand-form#brandForm
            form.form-horizontal
                .form-group
                    label(for="brandName").control-label.col-sm-4 品牌名称
                    .col-sm-6
                        input(type="text", name="brandName")#brandName.form-control
                .form-group
                    label(for="owner").control-label.col-sm-4 品牌拥有者
                    .col-sm-6
                        input(type="text", name="owner")#owner.form-control
                .form-group
                    label.control-label.col-sm-4 品牌Logo
                    .col-sm-6
                        button(type="button").btn.btn-bigblue 上传附件
                .form-group
                    label.control-label.col-sm-4 品牌授权书/商品注册证
                    .col-sm-6
                        button(type="button").btn.btn-bigblue 上传附件

block foot
    script(type='text/javascript',data-main="#{basePath}js/info/basicinfo",src='#{basePath}js/require.min.js')
    link(rel='stylesheet', href='#{basePath}plugs/imagebox/imagebox.css')
    link(rel='stylesheet', href='#{basePath}plugs/jquery.form/foxupload.css')
    link(rel='stylesheet', href='../plugs/bootstrapValidator/css/bootstrapValidator.min.css')
    script.
      var site_url="<?php echo $site_url; ?>";
      var province = "<?php echo $user->province; ?>";
      var city = "<?php echo $user->city; ?>";
      var district = "<?php echo $user->district; ?>";
      var down_url = "<?php echo $down_url; ?>";
      var userId = "<?php echo $udata->userId ?>";  
