extends master.jade
block InfoDefine
    -var active = 4;

block title
    title 运费设置

block DashboardTitle
    运费设置

block InfoContent
    h4.indexH3 新增运费模板
      a.back-link(href="freightList.html") 返回运费模板
    .freight-box
      form.form-horizontal(action="" method="post")
        .form-group
          label.col-md-2.control-label 模板名称
          .col-md-6
            input.form-control(type="text")
          .col-md-2
            .help-block 1-25个字
        .form-group
          label.col-md-2.control-label 商品所在地
          .col-md-2
            select.form-control.col-md-2
              option(value="0") 请选择国家
              option(value="0") 中国
          .col-md-2
            select.form-control.col-md-2
              option(value="0") 请选择省
          .col-md-2
            select.form-control.col-md-2
              option(value="0") 请选择市
          .col-md-2
            .help-block 您的商品所在地，仓库地址
        .form-group
          label.col-md-2.control-label 是否包邮
          .col-md-2
            label.radio-inline 
              input(type="radio" name="inlineRadioOptions" value="option3") 
              | 商家付运费
            label.radio-inline  
              input(type="radio" name="inlineRadioOptions" value="option3") 
              | 商家包邮
        .form-group
          label.col-md-2.control-label 快递计费
          .col-md-8
            table.table.text-center.table-money
              tr.success
                td 目的区域
                td.col-md-2 首重（kg）
                td.col-md-2 首费（元）
                td.col-md-2 续重（kg）
                td.col-md-2 续费（元）
                td 操作
              tr
                td.name(data-id="123") 全国
                td.w-first 0
                td.m-first 0
                td.w-renewal 0
                td.m-renewal 0
                td.option
                  a.optin-link.data-save.hide(href="")保存
              tr
                td.name(data-id="123") 华北
                  a.edit-link.data-edit(href="#") 编辑
                td.w-first 0
                td.m-first 0
                td.w-renewal 0
                td.m-renewal 0
                td.option
                  a.optin-link.data-save.hide(href="javascript:;")保存
                  a.optin-link.data-del(href="#")删除
            a(href="#" data-toggle="modal" data-target="#myModal") 为指定区域设置运费
        
        .form-group
          .col-md-6.col-md-offset-2
            button.btn.btn-primary 保存
            
        div.modal.fade#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
          div.modal-dialog(role="document")
            div.modal-content
              div.modal-header
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true")&times;
                span.panel-headtxt  选择区域
                label.checkbox-inline  
                  input(type="checkbox" name="" value="")
                  | 中国 
              div.modal-body
                dl.dl-panel
                  dt
                    label.checkbox-inline  
                      input(type="checkbox" name="" value="")
                      strong 华东
                    dd
                      ul.list-inline
                        li.on(data-id="1")
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 上海 
                            span.red (
                              b 1
                              | )
                          span.caret.panel-toggle
                          div.city-panel
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 上海1 
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 上海2 
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 上海3 
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 上海4 
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 上海5 
                            a.btn.btn-default.btn-xs 确定
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 江苏 
                          span.caret.panel-toggle
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 浙江
                          span.caret.panel-toggle
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 安徽 
                          span.caret.panel-toggle
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 江西 
                          span.caret.panel-toggle
                  dt
                    label.checkbox-inline  
                      input(type="checkbox" name="" value="")
                      strong 华北 
                    dd
                      ul.list-inline
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 北京 
                          span.caret.panel-toggle
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 天津
                          span.caret.panel-toggle
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 山西 
                          span.caret.panel-toggle
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 山东 
                          span.caret.panel-toggle
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 河北
                          span.caret.panel-toggle    
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 内蒙古
                          span.caret.panel-toggle
                  dt
                    label.checkbox-inline  
                      input(type="checkbox" name="" value="")
                      strong 华中 
                    dd
                      ul.list-inline
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 湖南 
                          span.caret.panel-toggle
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 湖北 
                          span.caret.panel-toggle
                        li
                          label.checkbox-inline  
                            input(type="checkbox" name="" value="")
                            | 河南 
                          span.caret.panel-toggle
                  dt
                    label.checkbox-inline  
                      input(type="checkbox" name="" value="")
                      strong 华南 
                      dd
                        ul.list-inline
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 广东 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 广西 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 福建 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 海南 
                            span.caret.panel-toggle
                  dt
                    label.checkbox-inline  
                      input(type="checkbox" name="" value="")
                      strong 东北 
                      dd
                        ul.list-inline
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 辽宁 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 吉林 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 黑龙江 
                            span.caret.panel-toggle
                  dt
                    label.checkbox-inline  
                      input(type="checkbox" name="" value="")
                      strong 西北 
                      dd
                        ul.list-inline
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 陕西 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 新疆 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 甘肃 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 宁夏 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 青海 
                            span.caret.panel-toggle
                  dt
                    label.checkbox-inline  
                      input(type="checkbox" name="" value="")
                      strong 西南 
                      dd
                        ul.list-inline
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 重庆 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 云南 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 贵州 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 西藏 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 四川
                            span.caret.panel-toggle
                  dt
                    label.checkbox-inline  
                      input(type="checkbox" name="" value="")
                      strong 港澳台 
                      dd
                        ul.list-inline
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 香港 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 澳门 
                            span.caret.panel-toggle
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 台湾 
                            span.caret.panel-toggle
                  dt
                    label.checkbox-inline  
                      input(type="checkbox" name="" value="")
                      strong 海外 
                      dd
                        ul.list-inline
                          li
                            label.checkbox-inline  
                              input(type="checkbox" name="" value="")
                              | 海外 
                            span.caret.panel-toggle
              div.modal-footer
                button.btn.btn-primary(type="button") 确定
                button.btn.btn-default(type="button" data-dismiss="modal") 取消
block foot
    script(type='text/javascript').
      $(function(){
          $('.dl-panel .panel-toggle').click(function(){
              if($(this).parent('li').hasClass('on')){
                $(this).parent('li').removeClass('on');
              }else{
                $(this).parent('li').addClass('on');
                $.ajax({
                  //- method:"post",
                  //- url:"",
                  //- data:"",
                  success:function(){
                    
                  }
                });
              }
          });
        
          $('.table-money td').dblclick(function(e){
              var myclass= $(this).attr('class'),
                  value = $(this).html(),
                  dataId = $(this).siblings('.name').data('id'),
                  $option = $(this).siblings('.option');
              if(!$(this).find('input').length){
                $(this).html('<input class="form-control" name="'+myclass+'" value="'+value+'">');
                $(this).find('input').focus();
              }
              $option.children('.data-save').removeClass('hide');
          });
          
          $('.data-save').click(function(){
              var dataId = $(this).parent('td').siblings('.name').data('id'),
                  $input =  $(this).parents('tr').find('input');
                  data=[];
              $input.each(function(index){
                  data[index] =[this.name,this.value];
              });
              $.ajax({
                //- method: "POST",
                //- url: "",
                data: { num: data },
                success:function(){
                  $input.each(function(){
                    $(this).parent().html(this.value);
                    $(this).remove();
                  });
                }  
              });
              return false;
          });
          
      });
      
