extends ../dashboard.jade
block Define
    -var basePath = '../';
    -var active = 0;
    block InfoDefine

block header
    link(rel='stylesheet', href='#{basePath}css/info.css')
    block InfoHeader

block Right
    .info
        block InfoContent