<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="plugs/bootstrap/css/bootstrap.min.css"/>
    <meta name="description" content="万物（wanwu.com）是全网货源一键分销的移动供销平台，完全免费，海量货源集散地，无货也可开店赚钱，对接淘宝，微店，京东，拍拍，有赞等多家电商平台，让分销商拥有海量货源一键分销，无货开店赚钱，让供应商可以一键铺货库存同步，获得海量订单。"/>
    <meta name="keywords" content="分销,微商,微店,微信,ERP,朋友圈,微购物,淘宝一键搬家,拍拍,有赞,卖家,开店,店铺,易订货,一键分销,旺铺"/>
    <title>万物 - 全网货源一键分销，淘宝微店多店铺商品轻松管理，订单价格库存实时同步 xxxxx</title>
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="plugs/datetimepicker/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="js/metisMenu/metisMenu.min.css"/>
    <link rel="stylesheet" href="css/foot.css"/>
    <link rel="stylesheet" href="css/sb-admin-2.css"/>
    <link rel="stylesheet" href="css/home.css"/>
    <link rel="stylesheet" href="css/info.css"/>
  </head>
  <body>
    <div id="wrapper">
      <nav role="navigation" style="margin-bottom: 0" class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <h2 class="dashboard-title"><span>万物</span></h2>
          <h4 class="dashboard-subtitle"><img src="/img/dot.png"/>供应商平台</h4>
        </div>
        <div class="dashboard-top-line"><span>
             
            客服热线<span class="navbar-phone">028-88888888</span></span><span class="separate"></span><a href="javascript:;">帮助中心</a><span class="separate"></span><a href="javascript:;">趣玩</a><span class="separate"></span><a href="javascript:;">退出</a></div>
        <div role="navigation" class="navbar-default sidebar">
          <div class="sidebar-nav navbar-collapse">
            <ul id="side-menu" class="nav in">                           
              <li ui-sref-active="active"><a href="home.html">首页</a></li>
              <li href="#order_manage" data-toggle="collapse" class="navbar-group-title">订单管理
                <li id="order_manage" class="collapse">
                  <ul>
                    <li id="order_manage" class="collapse in"><a href="order/index.html">我的订单</a></li>
                  </ul>
                </li>
              </li>
              <li href="#product_manage" data-toggle="collapse" class="navbar-group-title">商品管理</li>
              <li id="product_manage" class="collapse">
                <ul>                                       
                  <li ui-sref-active="active"><a href="product/index.html">商品列表</a></li>
                  <li ui-sref-active="active"><a href="product/catalogChoice.html">单件商品添加</a></li>
                  <li ui-sref-active="active"><a href="product/batch.html">批量导入商品</a></li>
                  <li ui-sref-active="active"><a href="Brand/index.html">品牌列表</a></li>
                </ul>
              </li>
              <li href="#retailer_manage" data-toggle="collapse" class="navbar-group-title">分销商管理</li>
              <li id="retailer_manage" class="collapse">
                <ul>
                  <li ui-sref-active="active"><a href="distributor/index.html">分销商列表</a></li>
                </ul>
              </li>
              <li href="#capital_manage" data-toggle="collapse" class="navbar-group-title">财务管理</li>
              <li id="capital_manage" class="collapse">
                <ul>
                  <li ui-sref-active="active"><a href="capital/index.html">我的账户</a></li>
                  <li ui-sref-active="active"><a href="capital/record.html">交易记录</a></li>
                </ul>
              </li>
              <li href="#baseinfo_manage" data-toggle="collapse" class="navbar-group-title">基本信息维护</li>
              <li id="baseinfo_manage" class="collapse">
                <ul>
                  <li ui-sref-active="active"><a href="info/basicinfo.html">完善认证信息    </a></li>
                  <li ui-sref-active="active"><a href="info/freight.html">运费设置</a></li>
                  <li ui-sref-active="active"><a href="info/paymessage.html">支付信息设置</a></li>
                  <li ui-sref-active="active"><a href="info/changepwd.html">修改密码                  </a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="page-wrapper">
        <!--[if lt IE 9]-->
        <div class="M-upBrowser">
          <p class="upBrowser">检测到您的浏览器存在兼容性问题，请您使用<a href="http://browsehappy.com/" target="_blank">万物推荐浏览器</a></p>
        </div>
        <!--[endif]-->
        <div class="home">
          <!--
          ul.list-group
              li.list-group-item.basicInfo.info
                  img(src='img/icon-auth.png').auth-img
                  span.auth-stat 资质认证未提交
                  a(href='javascript:;') 提交认证资料
                  a.question.question-blue.auth-tip
                      .tip
                          .tip-acute
                          .tip-content 您需要先通过供应商资质认证后才能上架商品。
                  span#bindWeixin 
                      span.blue 绑定微信
                      .tip-rectangle.tdc
                          span.gray 请使用微信扫描下方二维码完成绑定
                          div
                              img(src='img/logo.png')
                  a.question.question-blue
                      .tip
                          .tip-acute
                          .tip-content 您需要先通过供应商资质认证后才能上架商品。
          -->
          <!--
          ul.list-group
              li.list-group-item 
                  | 15个订单等待发货
                  a(href='javascript:;').view 查看
              li.list-group-item
                  | 2个退货订单等待确认
                  a(href='javascript:;').view 查看
          .row
              .col-md-6
                  ul.list-group
                      li.list-group-item 98个品牌
                      li.list-group-item 
                          | 23个品牌等待提交审核
                          a(href='javascript:;').view 查看
                      li.list-group-item 
                          | 75个品牌已上线
                          a(href='javascript:;').view 查看
              .col-md-6
                  ul.list-group
                      li.list-group-item 0个商品
                      li.list-group-item.noProduct
                      a.addBrand 添加品牌
          -->
          <div class="row homeMessage">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="user-message-left">
                    <div class="m-img"><img src="#" alt="头像"/><!-- <img src="" alt=""> --></div>
                  </div>
                  <div class="user-message-right">
                    <ul>
                      <li>你好!<b>quwan</b></li>
                      <li>账号状态：<a href="javascript:;"><b>已审核</b></a></li>
                      <li><a id="bindWeixin" href="javascript:;">微信绑定</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-body moneyMessage">
                  <table>
                    <tr>
                      <td class="td-money"><span m="00" class="money">4000</span></td>
                      <td class="td-state">可用</td>
                      <td rowspan="3">
                        <button class="btn btn-blue">充值</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="td-money"><span m="00" class="money">4000</span></td>
                      <td class="td-state">不可用</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="td-action"><a href="javascript:;">提现 |</a><a href="javascript:;">交易明细</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-body actionmessage">
                  <table>
                    <tr>
                      <td class="tdw2">20</td>
                      <td class="tdw3">待处理订单</td>
                      <td class="tdw2">20</td>
                      <td class="tdw3">品牌待审核</td>
                    </tr>
                    <tr>
                      <td class="tdw2">20</td>
                      <td class="tdw3">退款订单</td>
                      <td class="tdw2">20</td>
                      <td class="tdw3">出售中商品</td>
                    </tr>
                    <tr>
                      <td class="tdw2">20</td>
                      <td class="tdw3">分销商</td>
                      <td class="tdw2">20</td>
                      <td class="tdw3">已下架</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">统计报表</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <p class="itemTitle gray">销售额</p>
                  <div class="plot">
                    <canvas width="400" height="200" id="sale"></canvas>
                  </div>
                </div>
                <div class="col-md-6">
                  <p class="itemTitle gray">分销商数量</p>
                  <div class="plot">
                    <canvas width="400" height="200" id="retailerNum"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
    <p><a href="javascript:void(0);">服务协议</a>| <a href="javascript:void(0);">联系我们</a></p>
    <p class="comp">Copyright &copy; 2015 万物wanwu.com版权所有 京ICP备09017905号 </p>
    </div>
    <script type="text/javascript" src="plugs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="plugs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="plugs/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="plugs/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="js/metisMenu/metisMenu.min.js"></script>
    <script type="text/javascript" src="js/sb-admin-2.js"></script>
    <script type="text/javascript" src="js/dialog.js"></script>
    <script type="text/javascript" src="plugs/Chart.min.js"></script>
    <script type="text/javascript">
      $(function(){
          var options1 = {
              responsive: true,
              tooltipTemplate: "<%if (label){%><%=label%> : ￥ <%}%><%= value %>",
          };
          var options2 = {
              responsive: true,
              tooltipTemplate: "<%if (label){%><%=label%> : <%}%><%= value %> 个分销商",
          };
          var ctxSale = document.getElementById('sale').getContext('2d');
          var saleData = {
              labels: ["January", "February", "March", "April", "May", "June", "July"],
              datasets: [
                  {
                      label: "My First dataset",
                      fillColor: "rgba(220,220,220,0.2)",
                      strokeColor: "rgba(220,220,220,1)",
                      pointColor: "rgba(220,220,220,1)",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(220,220,220,1)",
                      data: [65, 59, 80, 81, 56, 55, 40]
                  }
              ]
          };
          new Chart(ctxSale).Line(saleData, options1);
      
          var ctxRetailer =  document.getElementById('retailerNum').getContext('2d');
          var retailerData = {
              labels: ["January", "February", "March", "April", "May", "June", "July"],
              datasets: [
                  {
                      label: "My Second dataset",
                      fillColor: "rgba(151,187,205,0.2)",
                      strokeColor: "rgba(151,187,205,1)",
                      pointColor: "rgba(151,187,205,1)",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(151,187,205,1)",
                      data: [28, 48, 40, 19, 86, 27, 90]
                  }
              ]
          };
          new Chart(ctxRetailer).Line(retailerData, options2);
      
          $('#bindWeixin').click(function(){
              var jqTarget = $(this);
              if(!jqTarget.hasClass('active')){
                  jqTarget.addClass('active');
                  setTimeout(function(){
                      $(document.body).one('click', function(){
                          jqTarget.removeClass('active');
                      });
                  }, 0); 
              }
          });
      })
    </script>
  </body>
</html>