<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>万物        </title>
    <link rel="stylesheet" href="plugs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/foot.css"/>
  </head>
  <body>
    <!--[if lt IE 9]>
    <p class="upBrowser">万物不再支持<strong>过时、不安全</strong> 的浏览器. 请选择更高级 <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <script type="text/javascript" src="plugs/jquery/jquery.min.js"></script>
  </body>
  <div class="footer">
  <p><a href="javascript:void(0);">服务协议</a>| <a href="javascript:void(0);">联系我们</a></p>
  <p class="comp">Copyright &copy; 2015 万物wanwu.com版权所有</p>
  </div>
</html>