.info{
    /*padding-top: 20px;*/
}

.info .itemTitle{
    margin:50px 0 30px 0;
    color: #888888;
}

.info .face{
    display: inline-block;
    position: relative;
}

.info .upload{
    margin-left: 25px;
}

.info .gap{
    margin-top: 40px;
}

.info .separate{
    margin:29px 0;
    height: 0;
    width:100%;
    border-top: 1px #ebebeb solid;
}

.info .reset{
    height: 35px;
    line-height: 35px;
    padding:0;
    width:95px;
    margin-left: 12px;
    vertical-align: baseline;
}

.info .accountInfo p{
    margin:26px 0;
}
.form-horizontal .has-feedback  .form-control-feedback {
    top: 0;
    right: -15px;
}
.form-inline .has-feedback  .form-control-feedback {
    top: 0;
    right: 14px;
}
.form-horizontal .has-feedback .radio-inline .form-control-feedback {
    top: 0;
    right: -35px;
}
/*.info .control-label{
    color:#999999;
}*/

.info .btnBar{
    text-align: center;
    margin-top: 20px;
}
.info .pwdForm .form-group{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* 运费设置 */
.info .switch{
    margin-top: 23px;
    margin-bottom:38px;
}
.info .switch>label{
    color:#666666;
    vertical-align: top;
    margin-left: 5px;
}
.info .switch>div{
    padding-left: 21px;
    color:#999999;
}

.info.freight .form-group>label{
    margin-right: 10px;
}
.info.freight .form-group>span{
    margin-left: 5px;
}

.info.freight .freightTable td{
    text-align: center;
}
@media (max-width: 768px){
    .info.freight .form-group{
        width: 40%;
        float: left;
    }
    .info.freight .form-group.form-weight{
        clear: left;
    }
    .info.freight .form-group.form-weight>label{
        float: left;
    }
    .info.freight .form-group.form-afterWeight{
        clear: left;
    }
    .info.freight .form-group.form-afterWeight>label{
        float: left;
    }
    .info.freight .alert.clearfix{
        clear: both;
    }
    #firstWeight,#firstWeightPrice,#afterWeight,#afterWeightPrice{
        width:80px;
        float: left;
    }
}
@media (min-width: 768px) {
    #firstWeight,#firstWeightPrice,#afterWeight,#afterWeightPrice{
        width:67px;
    }
}


.info .freightTable a.fork{
    width:16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}
.info #save{
    padding:0 15px;
    height: 34px;
}
.info .addTempItemForm .form-group{
    height: 60px;
    margin-right: 40px;
}
.info .addTempItemForm input{
    padding-right: 12px;
}
.info .addTempItemForm .form-afterWeight,.info .addTempItemForm .form-weight{
    margin-right: 10px;
}
.info .addTempItemForm .form-button{
    margin-right: 0;
}
@media(min-width: 1200px){
    .info .freightTable{
        width:500px;
    }
}
/* 认证信息 */
.info.auth .tip{
    margin-top:30px;
}
.info.auth .form-group{
    margin-bottom: 30px;
}
.info.auth .address>.row:first-child{
    margin-bottom: 30px;
}
.info.auth .address textarea{
    height: 114px;
    resize:none;
}
.info.auth .stdLabel, .info.auth label{
    font-weight: normal;
    width:90px;
}
.info.auth .autoWidh{
    width:auto;
    vertical-align: top;
}
.info.auth label>p{
    text-align: center;
}
.info.auth .extendBar{
    margin-top: 20px;
}

.info.auth .imgBar{
    margin-top: 25px;
}

.info .schedule{
    margin-top: 40px;
}
.info .scheduleImg{
    display: none;
}
.info .step-1 .scheduleImg-1{
    display: block;
}
.info .step-2 .scheduleImg-2{
    display: block;
}
.info .step-3 .scheduleImg-3{
    display: block;
}
/* 账户信息 */
.accountInfo p>span,.accountInfo .line>span{
    display: inline-block;
    width:90px;
}
#bindWeixin{
    display: inline-block;
    position: relative;
}
#bindWeixin>span{
    cursor: pointer;
}
#bindWeixin.active .tip-rectangle{
    display: block;
}
.tip-rectangle{
    background: url(../img/tip-rectangle.png) 0 0 no-repeat;
    position: absolute;
    left:60px;
    top:-85px;
    width:289px;
    height: 278px;
    padding: 20px 20px 25px 35px;
    display: none;
    z-index: 2000;
}
.tdc img{
    width:220px;
    height: 220px;
}
.info .accountInfo .downloadBar{
    margin:10px 0;
}

/****************************** 以下是新版样式 ******************************/

/* 基本资料 */
.basicInfo label{
    color:#666666;
}
.basicInfo h4{
    margin:0;
    font-weight: 700;
}
.basicInfo h4.subtitle{
    color:#666666;
    margin: 20px 0 10px 0;
}
.basicInfo .hr{
    margin:10px 0;
}
.basicInfo .control-label{
    width:150px;
    font-weight: normal;
    float: left;
    margin-right: 15px;
}
.basicInfo .btn-upload{
    margin-bottom: 10px;
}

.form-comb{
    clear: both;
}

.basicInfo .form-control{
    padding:6px 10px;
}

@media (min-width: 970px) {

    /* 表单输入框的最大宽度 */
    .basicInfo .form-control{
        max-width: 400px;
    }

    /* 所在地区等组合字段的最大宽度，要算上 margin 与padding */
    .basicInfo .form-comb{
        max-width: 430px;
        clear:none;
    }
}
.brand-container{
    text-align: center;
    width:60px;
    margin-right: 15px;
    float: left;
}
.brand-container:last-child{
    margin-right: 0;
}
.brand-container img{
    max-width: 100%;
    max-height: 100%;
}
.brand-logo{
    display: table-cell;
    vertical-align: middle;
    height: 60px;
}
.brand-container span{
    margin-top: 10px;
    color:#666666;
}
#protocol{
    vertical-align: top;
}
#submit{
    width:150px;
}
.help-block{
    margin-bottom: 0;
}
.indexH3{
    line-height: 2;
    border-bottom: 1px solid #ddd;
}
.indexH3:before{
    display: inline-block;
    content:' ';
    width:2px;
    height:20px;
    vertical-align: middle;
    margin-right: 6px;
    background-color: rgb(0,153,204);
}


.freight-box{
  margin: 20px 0;
}
.optin-link{
  margin: 0 5px;
}
.back-link{
  margin-left: 20px;
  font-size: 14px;
}
.edit-link{
  margin-left: 20px;
}
.panel-headtxt{
  position: relative;
  display: inline-block;
  padding:7px 5px 0;
  margin-bottom: 0;
  font-weight: 600;
  vertical-align: middle;
}
.dl-panel{}
.dl-panel dt{
  float: left;
  width: 68px;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-panel dd{
  margin-left: 80px;
}
.dl-panel dd ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.dl-panel dd ul li{
  position: relative;
}
.dl-panel dd .caret{
  margin: 5px 5px 0;
  cursor: pointer;
}
.inline-margin{
  margin: 0 10px;
}
.freight-btn{
  text-align: right;
}
.checkbox-inline+.checkbox-inline,.radio-inline+.radio-inline{
  margin-top: 0;
  margin-left: 10px;
}
.dl-panel .on{
  background: #FFFF00;
  z-index: 3;
}

.city-panel{
  position: absolute;
  top: 26px;
  left: 0;
  z-index: 2;
  width: 180px;
  padding: 5px 0 25px;
  background: #FFFF00;
}

.city-panel .checkbox-inline{
  margin-right: 10px;
  margin-left: 5px;
}
.city-panel a.btn{
    position: absolute;
    bottom: 5px;
    right: 5px;
} 
