body,html{margin: 0;padding: 0;font-size: 14px; font-family: 微软雅黑 "Helvetica Neue",Helvetica,Arial,sans-serif;}
ul,li{list-style: none;padding: 0; margin: 0;}
img{margin: 0}
a{text-decoration: none;}
.h2, h2 {
  font-size: 30px;
}
.h4, h4 {
  font-size: 18px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
body{
  background-color: #333;
  margin-bottom: 154px!important;
}
.pull-left{display: block;float: left;}
.pull-right{display: block;float: right;}
.clear{overflow:hidden;_zoom:1;}


.navbar{
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  border-width: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 60px;
  background: #09c;
}

.navbar .navbar-container{}
.navbar-container .navbar-header{}

.dashboard-subtitle,.dashboard-title {
    float: left;
    color: #fff;
    padding: 13.5px 0;
    margin: 0
}

.dashboard-title {
    margin-left: 20px
}

.dashboard-subtitle {
    padding-top: 25px
}

.dashboard-subtitle img {
    margin: -3px 7px 0
}

.navbar-header{
  overflow: hidden;
}
.navbar-header ul{
  padding: 20.5px 0;
  margin-left: -1px;
}
.navbar-header ul li{
  float: left;
  color: #fff;
  padding: 0 10px;
  border-left: 1px solid #fff;
}
.navbar-header ul li a{
  color: #fff;
}


.main-container{
  overflow: hidden;
}
.main-container .sidebar{
  background-color: #333;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 1px 0 0;
  width: 190px;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
.main-container .responsive{}
.responsive .nav-list{}
.responsive ul li a{
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav-list .on{
  background-color: #22282e;
}
.nav-list li{
  display: block;
  position: relative;
  float: none;
  padding: 0;
  border-color: #22282e;
  border-style: solid;
  border-width: 1px 0 0;
}
.nav-list li a{
  color: #fff;
  display: block;
  line-height: 17px;
  padding-left: 7px;
  text-shadow: none!important;
  font-size: 13px;
  text-decoration: none;
}
.nav-list .submenu li a{
  display: block;
  position: relative;
  padding: 7px 0 9px 37px;
  margin: 0;
}

.main-container .main-content{
  margin-left: 191px;
  min-height: 100%;
  padding: 0;
  background-color: #fff;
}
.main-content-inner {
  float: left;
  width: 100%;
}
.page-content {
  background-color: #fff;
  position: relative;
  margin: 0;
  padding: 8px 20px 24px;
}
.alert-block{
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}
.alert-danger{
  background-color: #d15b47;
  border-color: #d15b47;
  color: #fff;
}
.alert-success{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.form .form-group{
  padding: 10px 5px;
}
.form-group label{
  display: inline;
  margin: 0 5px;
}
.form-group .btn{
  height: 34px;
  padding: 10px 13px;
  line-height: 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
  background-color: #069dd5;
  border-radius: 0;
  font-weight: 400;
  background-image: none;
  border: 1px solid transparent;
}
.up-img{
  margin-top: 5px;
}
