.order{
    padding-top: 10px;
}

.order .headBar{
    height: 50px;
    padding:9px 0px;
    /*border:1px #e2e2e2 solid;*/
    /*margin-top: -1px;*/
    margin: 12px 0;
    line-height: 27px;
}

.order .headBar button{
    margin:0px 8px;
    height: 34px;
    padding:0px 12px;
}

.order .headBar a{
    margin-left: 8px;
    cursor: pointer;
    text-decoration: none!important;
}

.order .headBar input{
    vertical-align: top;
    margin-right: 7px;
    margin-top: 7px;
}

.order .orderlist{
    margin-top: 5px;
}

.order td{
    text-align: center;
}
.order .titleTR td{
    background-color: #f6f6f6;
    color:#888888;
}

.order .retailer{
    min-width: 80px;
}

.order .receiver{
    min-width: 90px;
}

.order .titleTR td:first-child{
    text-align: left;
}

.order .orderTR td{
    padding-top: 18px;
    vertical-align: middle;
}

.order .orderTR .ckTD{
    border-right:0px;
    padding:38px 0px 0px 13px;
}

.order .productImgs{
    width: 197px;
    padding:5px;
    border-left: 0px;
    text-align: left;
}

.order .productImgs img{
    width: 52px;
    height: 52px;
    border:1px solid #e1e1e1;
    margin:5px;
    float: left;
}
.order .orderOperator{
    min-width: 85px;
}
.order .orderOperator a{
    display: block;
    cursor:pointer;
    margin-top:16px;
}
.order .orderOperator a:first-child{
    margin-top: 0px;
}

.order .searchBar{
    margin-top:20px;
}

.order .searchBar .form-group{
    margin-right: 60px;
    margin-bottom: 20px;
}

.order .searchBar .form-group:last-child{
    margin-right: 0px;
}

.order .stdLable{
    /*width:86px;*/
}

.order .stdLable2{
    /*width:72px;*/
}


.order .gap30{
    margin-top:30px;
}

/*.order #waybill{
    width:200px;
}
.order #orderNum{
    width:200px;
}*/
.order .timeSpan input{
    width:125px;
}

.order .timeSpan .part{
    width: 14px;
    margin:0px 5px;
}
.order label{
    color:#333333;
    font-weight: normal;
    width: 80px;
    text-align: right;
}
/* 订单详情 */
.order.detail p{
    margin-bottom: 20px;
    color:#666666;
}
.order.detail p>span{
    display: inline-block;
    width:75px;
    text-align: right;
}


.order.detail h2{
    margin: 28px 0px;
}

.order.detail h2:first-child{
    margin-top: 0px;
}

.order .streamTable td{
    text-align: left;
    color:#666666;
}

.order .streamTable tbody>tr:first-child{
      border-top: 1px solid #ddd;
}

.order .streamTable tbody>tr>td{
    border-top: 0px;
}

.order .streamTable .timeTD{
    width:160px;
    text-align: right;
}

/* 无货反馈对话框 */
#noStockForm .noStockProducts{
    margin-bottom: 15px;
}
#noStockForm .noStockProducts>div{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#noStockForm .noStockProducts img{
    width:52px;
    height: 52px;
    margin:10px;
    border: 3px solid #efefef;
    background-color: #ffa0a0;
}
#noStockForm .noStockProducts .ok{
    display: none;
    position: absolute;
    right: 10px;
    bottom:15px;
    width:28px;
    height: 28px;
    background-size: 58% 58%;
    background-image: url(../img/ook.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    /*background: url(../img/ook.png) center center no-repeat*/
}
#noStockForm .noStockProducts .checked .ok{
    display: block;
}
#noStockForm textarea{
    height: 150px;
    resize:none;
}
/* 取消订单对话框 */
#returnofgoodsForm .imgs>div{
    display: inline-block;
    margin:5px;
    border:1px solid #e1e1e1;
    cursor: pointer;
    vertical-align: top;
    position: relative;
}
#returnofgoodsForm .imgs img{
    width:52px;
    height: 52px;
}
#returnofgoodsForm .imgs a.upload{
    display: inline-block;
    width:52px;
    height: 52px;
    background: url(../img/add.png) center center no-repeat;
}
#returnofgoodsForm textarea{
    margin-top: 5px;
    resize:none;
    height: 150px;
}
#returnofgoodsForm .btn-fork{
    position: absolute;
    right: 0px;
    top:0px;
    width:10px;
    height: 10px;
}
.orderlist .tdOrderNumber{
    width: 20%;
    min-width: 180px;
}
.orderlist .tdOrderPrice{
    width: ;
    min-width: ;
}
.orderlist .tdOrderConsignee{
    width: ;
    min-width: ;
}
.orderlist .tdOrderAddress{
    min-width: 170px;
}
.orderlist .tdOrderTime{
    width: 100px;
}
.orderlist .tdOrderSta{
    min-width: 80px;
}
.orderlist .tdOrderRemark{
    min-width: 106px;
}
.orderlist .tdOrderAction{
    width: 115px;
    min-width: ;
}
.order .headBar label{
    text-align: left;
}
.orderlist .orderTR .Remark{
    text-align: left;
}
.order.detail h2{
    background-color: #f6f6f6;
    border:1px solid #e2e2e2;
    padding: 17px 12px;
}
.order .streamTable .tdcon{
    padding-left: 20px;
}
.order .streamTable .tdlf{
    text-align: right;
}
.StockTitle{
    display: block;
    margin-top: -25px;
    padding-left: 10px;
}
.indexH3{
    line-height: 2;
    border-bottom: 1px solid #ddd;
}
.indexH3:before{
    display: inline-block;
    content:' ';
    width:2px;
    height:20px;
    vertical-align: middle;
    margin-right: 6px;
    background-color: rgb(0,153,204);
}
.queryOrder .form-inline .form-group{
    margin:10px 0;
}
.queryOrder .form-group .w140{
    width:140px;
}
.queryOrder .form-group .w160{
    width:160px;
}
.queryOrder  .form-inline .orderName{
    width:299px;
}
.order .nav-custom.nav-tabs>li.active>a, .order .nav-custom.nav-tabs>li.active>a:hover{
    border-color: #fff;
    border-bottom: 3px #069dd5 solid;
}
.order .nav-custom.nav{
    border:none;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
}
.goodsNum{
    width: 160px;
}

.pinfo{  height: 90px;  border-bottom: 1px solid #f1f1f1;padding: 10px 0;}
.pimg{height: 60px;width: 60px;border: 1px solid #e1e1e1;margin: 5px;}
.table tr td{text-align: center;  vertical-align: middle !important;}
.noborder{padding-top:0px !important;}
.order .orderTR td{padding-top: 8px ;}
.noborder .pinfo:last-child{border-bottom: none !important;;}
.pinfo a{display: block;  vertical-align: middle;  margin-top: 0px !important;  line-height: 35px;}
.onepinfo a{display: block;  vertical-align: middle;  margin-top: 0px !important;  line-height: 35px;}
.doReturnGoods{
    cursor: pointer;
    color: #f00;
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px;;
    display: inline-block;
}

.form-inline .control-label{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
