extends ../dashboard.jade
block Define
    -var basePath = '../';
block title
    title 提现

block DashboardTitle
    提现

block header
    link(rel='stylesheet', href='#{basePath}css/capital.css')

block Right
    .capital
        h2 提现
        form.form-horizontal
            .form-group
                label.control-label 提现至银行卡：
                .col-md-10
                    div.cardSelector
                        div.cardInfo
                            span.owner 张三
                            img(src='../img/logo.png')
                            span.cardNum 6226***123
                        button.btn.btn-default(data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:;') 
                                    span.owner 李四
                                    img(src='../img/logo.png')
                                    span.cardNum 6226***123
            div.form-group
                label.control-label 登录密码：
                .col-md-10
                    input(type='password').form-control.password
            div
                button.btn.btn-blue(type='button',onclick='location.href=\'submit.html\'') 提现


