extends ../dashboard.jade
block Define
    -var basePath = '../';
block title
    title 提现

block DashboardTitle
    提现

block header
    link(rel='stylesheet', href='#{basePath}css/capital.css')

block Right
    .capital.cash-out
        h2 提现
        form.form-horizontal
            .form-group
                label.control-label 提现至银行卡：
                .col-md-10
                    div.cardSelector
                        div.cardInfo
                            span.owner 张三
                            span.bank 招商银行
                            span.cardNum 6226***123
                        button.btn.btn-default(data-toggle='dropdown')
                            span.caret
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='javascript:;')
                                    span.owner 张三
                                    span.bank 中国银行
                                    span.cardNum 6226***123
            div.form-group
                label.control-label 金额：
                .col-md-10
                    input(type='text').form-control.password
            div
                button.btn.btn-blue(type='button',onclick='location.href=\'submit.html\'') 提现
block foot
    script(type='text/javascript').
        $(function(){
            $('.cardSelector').delegate('a','click',function(e){
                var item = $(e.currentTarget);
                $(e.delegateTarget).children('.cardInfo').empty().append(item.clone().children());
            });
        });
