extends master.jade
block title
    title 账户总览
block DashboardTitle
    账户总览
block CapitalContent
    .col-lg-6.clearfix
      .info-group
          p 可提现余额
          .money-group
              .money ￥8888.66
              .unit 元
      .info-group
          p 不可提现余额
          .money-group.disabled
              .money ￥8888.66
              .unit 元

    .col-lg-6.clearfix
      ul.capital-message
        li
        li
        li

block foot
    script(type='text/javascript',data-main="#{basePath}js/common/index",src='#{basePath}js/require.min.js')
