extends master.jade
block title
    title 账户总览
block DashboardTitle
    账户总览
block CapitalContent
    .mw.pull-left
      .clearfix
          .info-group.money-box
              p 可提现余额
              .money-group
                  .money ￥1888.66
          .info-group.money-box(nowrap)
              p 不可提现余额
              .money-group.disabled
                  .money ￥188.66
      .send-btn
        p.txt-red 不可提现余额通常在1个工作日内可提现
        button.btn.btn-blue 提现
        a.link-info(href="/capital/record.html")  查看明细
    .pull-left.clearfix
      ul.capital-message
        li
          i.icon1
          p.t1 专业机构安全认证
          p.t2 通过中国人民银行检测中心认证
        li
          i.icon2
          p.t1 即时入账费率低
          p.t2 收款直接入账，手续费率最低
        li
          i.icon3
          p.t1 T+1到账稳定
          p.t2 与超过30家银行紧密合作，保证T+1清算

block foot
    script(type='text/javascript',data-main="#{basePath}js/common/index",src='#{basePath}js/require.min.js')
