extends master.jade

block CapitalDefine    
    -var active = 2;

block title
    title 订单

block DashboardTitle
    订单

block CapitalContent
    .info-group
        h3 资金记录 
    .info-group.topBar
        span.stage1 您正在查看2015.3.1（月初）-2015.3.13（当前）时间的交易记录，查询所有交易记录
        input(type='text').text-input#timeBegin
        span.stage2 —
        input(type='text').text-input#timeEnd
        button(type='button').btn.btn-blue.btn-search 查询
    .info-group
        div.row
            div.col-lg-12
                table.table.table-bordered
                    thead
                        tr
                            td 时间
                            td 操作
                            td 金额
                            td 状态
                            td 备注
                    tbody
                        tr
                            td 2015-3-13 15:51:26
                            td 充值
                            td 109.00
                            td 成功
                            td 中国建设银行 6226 8888 0000 8888 123
    .info-group
        include ../pagination.jade
block foot
    script(type='text/javascript').
        $(function(){
            $('#timeBegin,#timeEnd').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        });



