extends ../dashboard.jade
block Define
    - var basePath = '../';
block header
    link(rel='stylesheet', href='../css/main.css')
    link(rel='stylesheet', href='../css/mapping.css')

block DashboardTitle 
    面板

block Right
    .mapping.
        <div class="form-inline row">
            <div class="form-group col-md-5">
                <label for="">万物类目</label>
                <div class="category">
                    <select name="" id="" class="form-control">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-2">
                <!-- span.glyphicon.glyphicon-transfer{} -->
                <label class="selMall" for="selMall">卖家平台</label>
                <select name="selMall" id="selMall" class="form-control">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                </select>
            </div>
            <div class="form-group col-md-5">
                <label for="">平台类目</label>
                <div class="category">
                    <select name="" id="" class="form-control">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                </div>
            </div>
        </div>