extends ../master.jade

block Define
    -var basePath = '../../';
    -var pagin_right = true;

block header
    link(rel='stylesheet', href='#{basePath}css/manage/complaint.css')

block DashboardTitle
    投诉

block Right
    .complaint
        form.form-inline.searchForm
            .form-group
                label(for='sponsor').control-lable 投诉发起方：
                select#sponsor.form-control
                    option(value='1') 发起方1
                    option(value='2') 发起方2
                    option(value='3') 发起方3
            .form-group
                label(for='reason').control-lable 投诉原因：
                select#reason.form-control
                    option(value='1') 原因1
                    option(value='2') 原因2
                    option(value='3') 原因3
            .form-group
                label(for='result').control-label 处理结果：
                select#result.form-control
                    option(value='1') 结果1
                    option(value='2') 结果2
                    option(value='3') 结果3
            .clearfix
            .form-group
                label(for='sponsorID').control-label 投诉方ID：
                input(type='text').form-control#sponsorID
            .form-group
                label(for='targetID').control-label 被投诉方ID：
                input(type='text').form-control#targetID
            .form-group
                button.btn.btn-blue 查询
        .table-responsive.complaintTable
            table.table.table-bordered
                thead
                    tr
                        td 订单号
                        td 投诉时间
                        td 投诉方ID
                        td 被投诉方ID
                        td 投诉原因
                        td 投诉内容
                tbody
                    tr
                        td TS32sdffsd
                        td 2015-4-25 13:37:14
                        td cds
                        td sdfsd
                        td 普通投诉（供-销）
                        td
                            //投诉内容的摘要，点击打开投诉详情页面
                            a(href='detail.html').blue.summary 佛挡杀佛
                    tr
                        td TS32sdffsd
                        td 2015-4-25 13:37:14
                        td cds
                        td sdfsd
                        td 普通投诉（供-销）
                        td
                            a(href='detail.html').blue.summary 佛挡杀佛
        div
            include ../../pagination.jade
