extends master.jade
block OrderDefine
    -var active = 3;
    -var selectedV = 0
    -var pagin_right = true;
block SubPage
    -var subTitle =' - 所有订单'

block DashboardTitle
    所有订单

block OrderContent
    form.form-inline.searchBar#myform
        div
            .form-group.clearfix
                .col-md-4.col-xs-4.control-label
                  label(for='orderNum').stdLable 订单号：
                .col-md-8.col-xs-6
                  input(type='text' name='orderNum').form-control#orderNum
            .form-group.clearfix
                .col-md-4.col-xs-4.control-label
                  label(for='receiver').stdLable2 收货人：
                .col-md-8.col-xs-6
                  input(type='text' name='receiver').form-control#receiver
            .form-group.clearfix
                .col-md-4.col-xs-4.control-label
                  label(for='concat') 联系方式：
                .col-md-8.col-xs-6
                  input(type='text' name='concat').form-control#concat
        div.clearfix
            .form-group.clearfix.timeSpan
                .col-md-3.col-xs-3.control-label
                  label(for='timeBegin').stdLable 下单时间：
                .col-md-4.col-xs-4
                  input(type='text' name='timeBegin').form-control#timeBegin
                .col-md-1.col-xs-1.control-label
                  label(for='timeEnd').part 至
                .col-md-4.col-xs-3
                  input(type='text' name='timeEnd').form-control#timeEnd
            .form-group.clearfix
                .col-md-6.col-xs-4.control-label
                  label(for='state').stdLable2 订单状态：
                .col-md-6.col-xs-6
                  select(name='state').form-control#state
                      option(value='1') 状态1
                      option(value='2') 状态2
                      option(value='3') 状态3
            .form-group
                button.btn.btn-blue 查询
        //
          .headBar.gap30
              .btnBar.pull-right
                  button(type='button').btn.btn-blue 确认退货
              input(type='checkbox')#checkAll
              label(for='checkAll') 全选
          .headBar
                  .btnBar
                      button.btn.btn-blue 导出订单
    .table-responsive.orderlist
        table.table.table-bordered
            tbody
                tr.titleTR
                    td.tdOrderNumber
                        | 订单编号:
                        span.blue 8779641532
                    td.retailer.tdOrderPrice 分销价
                    td.receiver.tdOrderConsignee 收货人
                    td.tdOrderAddress 收货地址
                    td.tdOrderTime 下单时间
                    td.tdOrderSta 状态
                    td.tdOrderRemark 备注
                    td.tdOrderAction 操作
                tr.orderTR
                    td.productImgs
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                    td ￥387.00
                    td 王刚
                    td 四川省成都市高新区天府软件园E区E1栋
                    td 015-03-12 17:38:48
                    td 等待发货
                    td.Remark 客户要求每盒颜色不能重复
                    td.orderOperator
                        a.blue(href='detail.html') 订单详情
    div.foot
        include ../pagination.jade
block foot
    script(type='text/javascript',data-main="#{basePath}js/order/all",src='#{basePath}js/require.min.js')
    link(rel='stylesheet',href='../plugs/select/dropkick.css')
    //- script(type='text/javascript',src='../plugs/select/dropkick.js')
    //- script(type='text/javascript', src='../plugs/bootstrapValidator/js/bootstrapValidator.min.js')
    link(rel='stylesheet', href='../plugs/bootstrapValidator/css/bootstrapValidator.min.css')
