extends ../dashboard.jade

block Define
    -var basePath = '../';

block title
    title 订单详情

block DashboardTitle
    订单详情

block header
    link(rel='stylesheet', href='#{basePath}css/order.css')

block Right
    .order.detail
        h2 订单信息
        dl.dl-horizontal
            dt 订单号：
            dd 8779641532
            dt 收 货 人：
            dd 张三
            dt 地    址：
            dd 四川成都市高新区绕城环线以外天府软件园B区B3栋503
            dt 手机号码：
            dd 151****7768
            dt 邮编：
            dd 610041
            dt 电子邮箱：
            dd service@quwan.com
            dt 下单时间：
            dd 2015-03-12  17:38:48
            dt 备注：
            dd 不加盐不加醋
        h2 支付信息
        dl.dl-horizontal
            dt 分销商支付状态：
            dd 已支付
            dt 分销价金额：
            dd 109.00
            dt 支付金额：
            dd 109.00
            dt 付款时间：
            dd 2015-03-12  17:38:48
        h2 快递信息
        dl.dl-horizontal
            dt 快递公司：
            dd 顺丰速运
            dt 运单号：
            dd 123456789
            dt 发货时间：
            dd 2013-7-11   15:49:43
        .table-responsive.streamTable
            table.table
                thead
                    tr
                        td.timeTD 时间
                        td.tdcon 状态
                tbody
                    tr
                        td.tdlf 2015-3-12 16:12:27
                        td.tdcon 您的订单开始处理
                    tr
                        td.tdlf 2015-3-12 16:12:31
                        td.tdcon 您的订单待配货
        h2 商品清单
        .table-responsive
            table.table
                thead
                    tr
                        td 商品编号
                        td 商品名称
                        td 售价
                        td 分销价
                        td 数量
                        td 分销总额
                tbody
                    tr
                        td XXXXXXXXX
                        td 
                            a(href='javascript:;').blue 美国进口53 Paper pencil 蓝牙触控笔
                        td ￥300.00
                        td ￥320.00
                        td 50
                        td 16000.00