extends ../dashboard.jade

block Define
    -var basePath = '../';

block title
    title 订单详情

block DashboardTitle
    订单详情

block header
    link(rel='stylesheet', href='#{basePath}css/order.css')

block Right
    .order.detail
        h2 订单信息
        p 
            span 订单号：
            | 8779641532
        p 
            span 收货人：
            | 张三
        p 
            span 地址：
            | 四川成都市高新区绕城环线以外天府软件园B区B3栋503
        p 
            span 手机号码：
            | 151****7768
        p 
            span 邮编：
            | 610041
        p 
            span 电子邮箱：
            | service@quwan.com
        p 
            span 下单时间：
            | 2015-03-12  17:38:48
        p 
            span 备注：
            | 不加盐不加醋
        h2 支付信息
        p 
            span 支付状态：
            | 已支付
        p 
            span 分销价格：
            | 109.00
        p 
            span 支付金额：
            | 109.00
        p 
            span 付款时间：
            | 2015-03-12  17:38:48
        h2 快递信息
        p 
            span 快递公司：
            | 顺丰速运
        p 
            span 运单号：
            | 123456789
        p 
            span 发货时间：
            | 2013-7-11   15:49:43
        h2 订单状态
        .table-responsive.streamTable
            table.table
                thead
                    tr
                        td.timeTD 时间
                        td.tdcon 状态
                tbody
                    tr
                        td.tdlf 2015-3-12 16:12:27
                        td.tdcon 您的订单开始处理
                    tr
                        td.tdlf 2015-3-12 16:12:31
                        td.tdcon 您的订单待配货
        h2 商品清单
        .table-responsive.goodsList
            table.table
                thead
                    tr
                        td 商品编号
                        td 商品名称
                        td 售价
                        td 分销价
                        td 数量
                        td 分销总额
                tbody
                    tr
                        td.goodsNum XXXXXXXXX
                        td 
                            span 美国进口53 Paper pencil 蓝牙触控笔
                        td ￥300.00
                        td ￥320.00
                        td 50
                        td 16000.00