extends master.jade
block OrderDefine
    -var active = 0;
    -var pagin_right = true;
    -var reason = "取消原因：";

block title
    title 待发货订单


block DashboardTitle
    待发货订单

block OrderContent
    .headBar
        .btnBar.pull-right
            button(type='button').btn.btn-gray 下载全部未发货订单信息
            button(type='button').btn.btn-bigblue 上传发货信息
            a.blue 下载发货信息模板
    .table-responsive.orderlist
        table.table.table-bordered
            tbody
                tr.titleTR
                    td.tdOrderNumber 
                        | 订单编号: 
                        span.blue 8779641532
                    td.retailer.tdOrderPrice 分销价
                    td.receiver.tdOrderConsignee 收货人
                    td.tdOrderAddress 收货地址
                    td.tdOrderTime 下单时间
                    td.tdOrderSta 状态
                    td.tdOrderRemark 备注
                    td.tdOrderAction 操作
                tr.orderTR
                    td.productImgs
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                    td ￥387.00
                    td 王刚
                    td 四川省成都市高新区天府软件园E区E1栋
                    td 015-03-12 17:38:48
                    td 等待发货
                    td.Remark 客户要求每盒颜色不能重复
                    td.orderOperator
                        a.blue.doExpress 发货
                        a.blue.doNoStock 无货反馈
                        a.blue(href='detail.html') 订单详情
                        a.blue.doCancelOrder 取消订单
                tr.titleTR
                    td
                        | 订单编号: 
                        span.blue 8779641532
                    td.retailer 分销价
                    td.receiver 收货人
                    td 收货地址
                    td 下单时间
                    td 状态
                    td 备注
                    td 操作
                tr.orderTR
                    td.productImgs
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                    td ￥387.00
                    td 王刚
                    td 四川省成都市高新区天府软件园E区E1栋
                    td 015-03-12 17:38:48
                    td 等待发货
                    td.Remark 客户要求每盒颜色不能重复
                    td.orderOperator
                        a.blue.doExpress 发货
                        a.blue.doNoStock 无货反馈
                        a.blue(href='detail.html') 订单详情
                        a.blue.doCancelOrder 取消订单
    .hidden
        form.form-horizontal#expressForm
            .form-group
                label(for='expressCompany').control-label.col-sm-3 快递公司：
                .col-sm-7
                    select.form-control#expressCompany
                        option(value='0') 顺丰
                        option(value='1') 圆通
                        option(value='2') 申通
                        option(value='3') 中通
                        option(value='4') 韵达
                        option(value='5') 汇通
                        option(value='6') 宅急送
                        option(value='7') 天天
                        option(value='8') EMS
            .form-group
                label(for='waybill').control-label.col-sm-3 运单号：
                .col-sm-7
                    input(type='text').form-control#inputWaybill
        form.form-horizontal#noStockForm
            span.StockTitle 请选择无货商品
            .noStockProducts
                div
                    img(src='../img/logo.png').noStockProductImg
                    .ok
                div
                    img(src='../img/logo.png').noStockProductImg
                    .ok
            .form-group
                .col-sm-12
                    label(for='input-noStock').control-label 无货原因：
                .col-sm-12                
                    textarea.form-control#input-noStock
        include returnofgoodsForm.jade
    div.foot
        include ../pagination.jade
block foot
    script(type='text/javascript').
        $(function(){
            $('#checkAll').change(function(){
                var checked = $(this).prop('checked');
                $('.orderlist input[type=checkbox]').prop('checked', checked);
            });
            $(document.body).delegate('.doExpress', 'click', function(e){
                $.dialog({
                    content: $('#expressForm').clone(),
                    title: '填写快递信息',
                    buttons: [
                        {
                            text: '取消',
                            click: function(dialog){ dialog.modal('hide'); }
                        },
                        {
                            text: '确定',
                            style: 'primary',
                            click: function(dialog){
                                //TODO:
                                dialog.modal('hide');
                            }
                        }
                    ]
                });
            });
            $(document.body).delegate('.doNoStock', 'click', function(e){
                var imgs = '';
                $(e.currentTarget).parents('tr:first').children('.productImgs').children().each(function(i, e){
                    imgs += '<div><img src="' + e.src + '" class="noStockProductImg"><div class="ok"></div></div>'
                });
                $('.noStockProducts').empty().append(imgs);
                $.dialog({
                    content: $('#noStockForm').clone(),
                    title: '无货反馈',
                    buttons: [
                        {
                            text: '取消',
                            click: function(dialog){ dialog.modal('hide'); }
                        },
                        {
                            text: '确定',
                            style: 'primary',
                            click: function(dialog){                                
                                var errorMsg = [],
                                    checkedProducts = dialog.find('div.checked');
                                if(checkedProducts.length == 0){
                                    errorMsg.push('请选择无货商品！');
                                }
                                var text = $.trim(dialog.find('#input-noStock').val());
                                if(!text){
                                    dialog.find('#input-noStock').parents('.form-group:first').addClass('has-error');
                                    errorMsg.push('请输入反馈信息！');
                                }else{
                                    dialog.find('#input-noStock').parents('.form-group:first').removeClass('has-error');
                                }
                                dialog.find('.noStockProducts').prevAll().remove();
                                if(errorMsg.length > 0){
                                    var html ='<div class="alert alert-danger" role="alert">',
                                        msg = null;
                                    while(msg = errorMsg.shift()){
                                        html += '<p>' + msg + '</p>';
                                    }
                                    html += '</div>';
                                    dialog.find('.noStockProducts').before(html);
                                    return;
                                }
                                //TODO:
                                dialog.modal('hide');
                            }
                        }
                    ]
                });
            });
            $(document.body).delegate('.noStockProductImg', 'click', function(e){
                $(e.currentTarget).parent().toggleClass('checked');
            }).delegate('a.removeImg','click', function(e){
                $(e.currentTarget).parent().remove();
            });
            $(document.body).delegate('.doCancelOrder', 'click', function(e){
                $.dialog({
                    content: $('#returnofgoodsForm').clone(),
                    title: '取消订单',
                    buttons: [
                        {
                            text: '取消',
                            click: function(dialog){ dialog.modal('hide'); }
                        },
                        {
                            text: '确定',
                            style: 'primary',
                            click: function(dialog){
                                //TODO:
                                dialog.modal('hide');
                            }
                        }
                    ]
                });
            });

        });

