extends master.jade
block OrderDefine
    -var active = 1;
    -var pagin_right = true;
    -var selectedV = 3
    -var reason = "拒绝退货原因：";
    -var form_tip = '拒绝退货可能引起分销商投诉，请谨慎操作！'
block SubPage
    -var subTitle =' - 待退货订单'
block OrderHeader
  style.
      .pinfo{  height: 90px;  border-bottom: 1px solid #f1f1f1;padding: 10px 0;}
      .pimg{height: 60px;width: 60px;border: 1px solid #e1e1e1;margin: 5px;}
      .table tr td{text-align: center;  vertical-align: middle !important;}
      .noborder{padding-top:0px !important;}
      .order .orderTR td{padding-top: 8px ;}
      .noborder .pinfo:last-child{border-bottom: none !important;;}
      .pinfo a{display: block;  vertical-align: middle;  margin-top: 0px !important;  line-height: 35px;}
      .pinfo span{ display: block;text-align: left}
      .onepinfo a{display: block;  vertical-align: middle;  margin-top: 0px !important;  line-height: 35px;}
      .doReturnGoods{  cursor: pointer;
          color: #f00;
          font-weight: bold;
          margin-top: 5px;
          font-size: 12px;;
          display: inline-block;}

block DashboardTitle
    待退货订单

block OrderContent
    form.form-inline.searchBar
      input(type='hidden')
      .form-group
        label(for="orderNum") 订单号：
        input#orderNum.form-control(type="text" name="orderNum")
      .form-group
        label(for="orderNum") 运单号：
        input#orderNum.form-control(type="text" name="orderNum")
      .form-group
        label(for="orderNum") 联系方式：
        input#orderNum.form-control(type="text" name="orderNum")
      .form-group
        button.btn.btn-blue 查询
    .table-responsive.orderlist
        table.table.table-bordered
            tbody
                tr.titleTR
                    td.tdOrderNumber(width="15%")
                        | 订单编号:
                        span.blue 8779641532
                    td.retailer.tdOrderPrice(width="20%") 商品信息
                    td.retailer.tdOrderPrice(width="5%") 分销价
                    td.receiver.tdOrderConsignee(width="5%") 收货人
                    td.tdOrderAddress(width="15%") 收货地址
                    td.tdOrderTime(width="10%") 下单时间
                    td.tdOrderSta(width="8%") 状态
                    td.tdOrderRemark(width="5%") 备注
                    td.tdOrderAction 操作
                tr.orderTR
                    td.productImgs.noborder
                      .pinfo
                        img(src='../img/logo.png')
                      .pinfo
                        img(src='../img/logo.png')
                    td.noborder
                      .pinfo
                        span 这个商品一点都不好，不要买不要买，便宜没好货
                      .pinfo
                        span 这个商品一点都不好，不要买不要买，便宜没好货
                    td.noborder
                      .pinfo
                        a ￥387.00
                      .pinfo
                        a ￥387.00
                    td 王刚
                    td 四川省成都市高新区天府软件园E区E1栋
                    td 015-03-12 17:38:48
                    td 待收货
                    td.Remark 客户要求每盒颜色不能重复
                    td.orderOperator.noborder
                        a.blue 确认退货
                        a.blue.doReject 拒绝反馈
                        a.blue(href='detail.html') 订单详情
                        a.blue 退款
                tr.titleTR
                    td
                        | 订单编号:
                        span.blue 8779641532
                    td.retailer.tdOrderPrice(width="20%") 商品信息
                    td.retailer 分销价
                    td.receiver 收货人
                    td 收货地址
                    td 下单时间
                    td 状态
                    td 备注
                    td 操作
                tr.orderTR
                    td.productImgs
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                    td 这个商品一点都不好，不要买不要买，便宜没好货
                    td ￥387.00
                    td 王刚
                    td 四川省成都市高新区天府软件园E区E1栋
                    td 015-03-12 17:38:48
                    td 等待发货
                    td.Remark 客户要求每盒颜色不能重复
                    td.orderOperator
                        a.blue 确认退货
                        a.blue.doReject 拒绝反馈
                        a.blue(href='detail.html') 订单详情
                        a.blue 退款
    .hidden
        include returnofgoodsForm.jade

    div.foot
        include ../pagination.jade
block foot
    script(type='text/javascript',data-main="#{basePath}js/order/returngoods",src='#{basePath}js/require.min.js')
  //
    script(type='text/javascript', src='../plugs/bootstrapValidator/js/bootstrapValidator.min.js')
    link(rel='stylesheet', href='../plugs/bootstrapValidator/css/bootstrapValidator.min.css')
  //
       script(type='text/javascript').
          $(function(){
              $('#checkAll').change(function(){
                  var checked = $(this).prop('checked');
                  $('.orderlist input[type=checkbox]').prop('checked', checked);
              });
              $(document.body).delegate('a.removeImg','click', function(e){
                  $(e.currentTarget).parent().remove();
              });
              $(document.body).delegate('.doReject', 'click', function(e){
                  $.dialog({
                      content: $('#returnofgoodsForm').clone(),
                      title: '拒绝退货',
                      buttons: [
                          {
                              text: '取消',
                              click: function(dialog){ dialog.modal('hide'); }
                          },
                          {
                              text: '确定',
                              style: 'primary',
                              click: function(dialog){
                                  //TODO:
                                  dialog.modal('hide');
                              }
                          }
                      ]
                  });
              });
              $('#orderStart,#orderEnd').datetimepicker({
                  format: 'yyyy-mm-dd',
                  language: 'zh-CN',
                  minView: 2,
                  autoclose: true
              });
              $('#orderForm').bootstrapValidator({
                  fields:{
                    goodsName: {
                        validators: {
                          stringLength: {
                              max: 30,
                              message: '输入文本不超过30字符'
                            }
                        }
                    },
                    distributorName:{
                        validators: {
                          stringLength: {
                              max: 30,
                              message: '输入文本不超过30字符'
                            }
                        }
                    },
                    consigneeName:{
                        validators: {
                          stringLength: {
                              max: 30,
                              message: '输入文本不超过30字符'
                            }
                        }
                    },
                    orderName:{
                        validators: {
                            regexp: {
                                regexp: /^[a-zA-Z0-9_\.]+$/,
                                message: '请输入正确的采购订单号'
                            }
                        }
                    },
                  }
              }).on('error.field.bv', function(e, data) {
                  data.element
                      .data('bv.messages')
                      .find('.help-block[data-bv-for="' + data.field + '"]').hide();
                  var messages = data.bv.getMessages(data.field);
                  for (var i in messages) {
                    var l = $('#msgerror').find('li[data-bv-for="' + data.field + '"]');
                    if(l.length===0){
                      var  li = '<li data-bv-for="' + data.field + '">'+messages[i]+'</li>';
                      $('<li/>').attr('data-bv-for', data.field).html(messages[i]).appendTo('#msgerror>ul');
                    }
                  }
                  $('#msgerror').removeClass('hide');
              })
              .on('success.field.bv', function(e, data) {
                  $('#msgerror').find('li[data-bv-for="' + data.field + '"]').remove();
              })
              .on('success.form.bv', function(e) {
                  $('#msgerror').addClass('hide');
              });;
          });
