extends master.jade
block OrderDefine
    -var active = 1;
    -var pagin_right = true;
    -var selectedV = 2
    -var reason = "拒绝退货原因：";
    -var form_tip = '拒绝退货可能引起分销商投诉，请谨慎操作！'

block SubPage
    -var subTitle =' - 已经发货订单'

block DashboardTitle
    已经发货订单

block OrderContent
    include ./searchForm.jade
    .table-responsive.orderlist
        table.table.table-bordered
            tbody
                tr.titleTR
                    td.tdOrderNumber
                        | 订单编号:
                        span.blue 8779641532
                    td.retailer.tdOrderPrice 分销价
                    td.receiver.tdOrderConsignee 收货人
                    td.tdOrderAddress 收货地址
                    td.tdOrderTime 下单时间
                    td.tdOrderSta 状态
                    td.tdOrderRemark 备注
                    td.tdOrderAction 操作
                tr.orderTR
                    td.productImgs
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                    td ￥387.00
                    td 王刚
                    td 四川省成都市高新区天府软件园E区E1栋
                    td 015-03-12 17:38:48
                    td 等待发货
                    td.Remark 客户要求每盒颜色不能重复
                    td.orderOperator
                        a.blue 确认退货
                        a.blue.doReject 拒绝反馈
                        a.blue(href='detail.html') 订单详情
                        a.blue 退款
                tr.titleTR
                    td
                        | 订单编号:
                        span.blue 8779641532
                    td.retailer 分销价
                    td.receiver 收货人
                    td 收货地址
                    td 下单时间
                    td 状态
                    td 备注
                    td 操作
                tr.orderTR
                    td.productImgs
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                    td ￥387.00
                    td 王刚
                    td 四川省成都市高新区天府软件园E区E1栋
                    td 015-03-12 17:38:48
                    td 等待发货
                    td.Remark 客户要求每盒颜色不能重复
                    td.orderOperator
                        a.blue 确认退货
                        a.blue.doReject 拒绝反馈
                        a.blue(href='detail.html') 订单详情
                        a.blue 退款
    .hidden
        include returnofgoodsForm.jade

    div.foot
        include ../pagination.jade
block foot
    script(type='text/javascript',data-main="#{basePath}js/order/shipment",src='#{basePath}js/require.min.js')
    link(rel='stylesheet', href='../plugs/bootstrapValidator/css/bootstrapValidator.min.css')
