extends master.jade
block OrderDefine
    -var active = 2;
    -var pagin_right = true;
    -var selectedV = 3
    -var reason = "拒绝退货原因：";
    -var form_tip = '拒绝退货可能引起分销商投诉，请谨慎操作！'
block SubPage
    -var subTitle =' - 未付款订单'
block OrderHeader
  style.
      .pinfo{height:90px; border-bottom: 1px solid #f1f1f1;padding: 10px 0;}
      .pimg{height: 60px;width: 60px;border: 1px solid #e1e1e1;margin: 5px;}
      .table tr td{text-align: center;  vertical-align: middle !important;}
      .noborder{padding:0px !important;}
      .order .orderTR td{padding-top: 8px ;}
      .noborder .pinfo:last-child{border-bottom: none !important;}
      .pinfo a{display: block;  vertical-align: middle;  margin-top: 0px !important;  line-height: 35px;}
      //- .pinfo span{ display: block;text-align: left}
      .onepinfo a{display: block;  vertical-align: middle;  margin-top: 0px !important;  line-height: 35px;}
      .doReturnGoods{  cursor: pointer;
          color: #f00;
          font-weight: bold;
          margin-top: 5px;
          font-size: 12px;;
          display: inline-block;}

block DashboardTitle
    未付款订单

block OrderContent
    .table-responsive.orderlist
        table.table.table-bordered
            tbody
                tr.titleTR
                    td.tdOrderNumber(width="15%")
                        | 订单编号:
                        span.blue 8779641532
                    td.retailer.tdOrderPrice(width="20%") 商品信息
                    td.retailer.tdOrderPrice(width="10%") 分销价
                    td.tdOrderPrice(width="7%") 数量
                    td.tdOrderRemark(width="15%") 总价
                    td.receiver.tdOrderConsignee(width="8%") 收货人
                    td.tdOrderTime(width="15%") 下单时间
                    td.tdOrderSta(width="10%") 状态
                tr.orderTR(data-order = "8779641532")
                    td.productImgs.noborder
                      .pinfo
                        img(src='../img/logo.png')
                      .pinfo
                        img(src='../img/logo.png')
                    td.productInfo.noborder
                      .pinfo
                        span 这个商品一点都不好，不要买不要买，便宜没好货
                      .pinfo
                        span 这个商品一点都不好，不要买不要买，便宜没好货
                    td.productPrice.noborder
                      .pinfo
                        a ￥
                          span 387.00
                      .pinfo
                        a ￥
                          span 387.00
                    td.productNum.noborder
                      .pinfo
                        a 2
                      .pinfo
                        a 1
                    td.productSum(data-ship = "10",data-sum = "774.00")
                      a ￥ 
                        span 774.00
                      p (含快递：￥10.00)
                      a.change-price 修改价格
                    td 王刚
                    td 2015-03-12 17:38:48
                    td
                      p 未付款
                      a 详情
                tr.titleTR
                    td
                        | 订单编号:
                        span.blue 8779641532
                    td.retailer.tdOrderPrice(width="20%") 商品信息
                    td.retailer 分销价
                    td 数量
                    td 总价
                    td.receiver 收货人
                    td 下单时间
                    td 状态
                tr.orderTR(data-order = "8779641532")
                    td.productImgs
                        img(src='../img/logo.png')
                        img(src='../img/logo.png')
                    td.productInfo 
                      span 这个商品一点都不好，不要买不要买，便宜没好货
                    td.productPrice
                      a ￥
                        span 387.00
                    td.productNum 
                      a 23
                    td.productSum(data-ship = "10",data-sum = "387.00")
                      a ￥
                        span 387.00
                      p (含快递：￥10.00)
                      a.change-price 修改价格
                    td 王刚
                    td 015-03-12 17:38:48
                    td
                      p 未付款
                      a 详情
    div.modal.fade#repriceModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
      div.modal-dialog(role="document")
        div.modal-content
          div.modal-header
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            h4.modal-title 修改价格
          div.modal-body
            table.table
              thead
                tr
                  td 商品信息
                  td 分销价
                  td 数量
                  td 优惠(可为负数)
                  td 快递费用
              tbody.order-info
                  tr
                    td.goods-name 商品名
                    td.goods-price ￥ 123
                    td.goods-num 2
                    td.discount
                      input.form-control
                    td.ship-price(rowspan="2")
                      input.form-control
                  tr
                    td.goods-name 商品名
                    td.goods-price ￥ 123
                    td.goods-num 2
                    td.discount
                      input.form-control
            div.result-price
              strong 买家实付：
              span.all-one 
              span.text-danger +
              span.all-ship 
              | (运费)
              span.text-danger -
              span.all-discount 0
              | (优惠)
              span.text-danger =
              span.all-price 0
              
          div.modal-footer
            div.col-md-8.text-left#city-tip
            div.col-md-4
              button.btn.btn-primary.btn-option(type="button" data-dismiss="modal") 确定
              button.btn.btn-primary.btn-edit.hide(type="button" data-dismiss="modal") 修改
              button.btn.btn-default.btn-close(type="button" data-dismiss="modal") 取消
    .hidden
        include returnofgoodsForm.jade

    div.foot
        include ../pagination.jade
block foot
    //- link(rel='stylesheet', href='../plugs/bootstrapValidator/css/bootstrapValidator.min.css')
    script(type='text/javascript',data-main="#{basePath}js/order/willpay",src='#{basePath}js/require.min.js')
