.dk_container {
    cursor: pointer;
    font-size: 14px;
    outline: none;
}

.dk_toggle {
    background-color: #069dd5;
    color: white;
    border-radius: 3px;
    overflow: hidden;
    padding: 6px 45px 6px 12px;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.dk_toggle:hover,
.dk_toggle:focus,
.dk_focus .dk_toggle {
    /*background-color: #e6f5fb;
    color:#069dd5;*/
    outline: none;
}

.dk_toggle:active {
    background-color: #16a085;
    outline: none;
}

.select-icon {
    background: #069dd5 url("../../img/toggle.png") no-repeat right center;
    border-left: 2px solid rgba(52, 73, 94, 0.15);
    border-radius: 0 3px 3px 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.dk_open {
    z-index: 10;
}

.dk_open .dk_toggle {
    background-color: #069dd5;
}

.dk_open .dk_toggle .select-icon {
    /* background-color: #16a085;
    border-left-color: transparent; */
}

.dk_options {
    padding-top: 14px;
}

.dk_options:before {
    /* content: "";
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #b8b8b8 transparent;
    height: 0px;
    position: absolute;
    left: 15px;
    top: 5px;
    width: 0px;
    -webkit-transform: rotate(360deg); */
}

.dk_options:before {
    left: auto;
    right: 12px;
}

.dk_options li {
    padding-bottom: 3px;
}

.dk_options a {
    border-radius: 1px;
    color: #666666;
    display: block;
    padding: 5px 9px;
    text-decoration: none;
}

.dk_options a:hover ,.dk_option_current a {
    background-color: #069dd5;
    color:white;
}

.dk_options_inner {
    background-color: #edeeee;
    border-radius: 2px;
    margin: 0;
    max-height: 244px;
    padding: 3px 3px 0;
}

.dk_touch .dk_options {
    max-height: 250px;
}

.dk_container {
    display: none;
    position: relative;
    vertical-align: middle;
}

.dk_container.dk_shown {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.dk_container[class*="span"] {
    float: none;
    margin-left: 0;
}

.dk_toggle {
    display: block;
    position: relative;
}

.dk_open {
    position: relative;
}

.dk_open .dk_options {
    margin-top: -1px;
    opacity: 1;
    z-index: 10;
    display: block\9;
}

.dk_open .dk_label {
    color: inherit;
}

.dk_options {
    margin-top: -21px;
    position: absolute;
    left: 0;
    opacity: 0;
    width: 220px;
    z-index: -100;
    display: none\9;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-backface-visibility: hidden;
}

.select-right .dk_options {
    left: auto;
    right: 0;
}

.dk_options a {
    display: block;
}

.dk_options_inner {
    overflow: auto;
    outline: none;
    position: relative;
}

.dk_touch .dk_options {
    overflow: hidden;
}

.dk_touch .dk_options_inner {
    max-height: none;
    overflow: visible;
}

.dk_fouc select {
    position: relative;
    top: -99999em;
    visibility: hidden;
}
.dk_container.form-control{
    padding:0;
}